[2016-08-21 18:16] andweber opened #2 "TestCase pocketsphinx fails"
when I run the testcases locally

`coverage run ./setup.py test`

the following cases fail:

`testTranscribe (pocketsphinx-stt.tests.test_sphinxplugin.TestPocketsphinxSTTPlugin) ... No handlers could be found for logger "pocketsphinx-stt.sphinxplugin"
ERROR
testTranscribeJasper (pocketsphinx-stt.tests.test_sphinxplugin.TestPocketsphinxSTTPlugin) ... ERROR

ERROR: testTranscribe (pocketsphinx-stt.t

[2016-08-21 18:55] chrobione opened #4 "Documentation"
This issue is to remind us to write documentation for everything. And remember write the documents to help the next person learn when they read your docs.

[2016-08-21 18:57] chrobione opened #5 "Testing Code :)"
IMHO we should strive to have 90% of the code coverage. That way we know that the code will just work.

[2016-08-21 19:02] chrobione opened #6 "[Feature-Request] - Django/Tornado/NodeRed webapp"
Here are the thoughts:
- first time setup
- change configuration
- add module
- show info - local temp, OS stats, J2F stats, connected units

This is just a start we should brain storm on this first.

[2016-08-21 20:05] TuxSeb commented on #5
for the milestone, i propose the v1.0

[2016-08-21 20:21] andweber opened #7 "Snowboy ships with precompiled library?"
The STT plugin for snowboy includes a precompiled 32bit library.

Is this limitation intended? Shouldn't the library be something downloaded on the fly / during install - instead of being included in the source code?

[2016-08-22 00:45] TuxSeb opened #10 "[Feature-Request] - Today Module"
I thought, we could create a module that eg in the morning you say the weather, the temperature, if you have an appointment, if yes with who..

For example: You get up in the morning, you said "Hello -Keyword-" and he answers you "Hello -yourname-, we are the -date- today it rains, the temperature outside is 15 degrees C, you have no appointment of planned, Have a nice day! " with more features of

[2016-08-22 00:48] TuxSeb opened #11 "Possible different way of storing information in profile.yml"
This thread is to talk about the pros and cons of moving to sqlite, json or else instead of the Yaml format.

[2016-08-22 00:52] TuxSeb opened #12 "Twitter integration - as an independent plugin"
Probably be a good idea to have twitter work with this to...
Basic functionality:
Get twitters with '@username' mentions
Have ability to disable notifications (i.e. human sleep time)
Send twitter, with playback of twitter msg before posting. (don't need rouge posting to twitter)

[2016-08-22 00:53] TuxSeb opened #13 "New weather plugin: OpenweatherMap API"
Check out this out for another option for weather besides yahoo

Changing the current module to this one, it bring:

- Better features
- Other languages support

http://openweathermap.org/api
http://openweathermap.org/current
https://github.com/csparpa/pyowm

[2016-08-22 00:55] TuxSeb opened #14 "Gmail plugin check"
@chrobione: "The plugin tells me I have like 39k new emails. Even though i have that many emails, they are all marked read."

[2016-08-22 00:57] TuxSeb opened #15 "Script to download and install everything."
This is a nice thing to do for the community.

Basic outline for user experience:

If your starting fresh
Download pi image from raspberry burn to SD.

If you already have image or just got your pi running for the first time
1. Run a sh or bash script from wget to start install process of Jasper.
2. Wait for Jasper to ask for help in finial configurations. This runs populate.py that asks for gmail

[2016-08-22 00:59] TuxSeb opened #16 "Email username and password in plaintext"

[2016-08-22 01:02] TuxSeb opened #17 "Need how to create Jasper module"
This we to explain how to add your own programs to jasper as plugins.

[2016-08-22 01:04] TuxSeb opened #18 "Documentation"

[2016-08-22 01:05] #18 closed, assigned to nobody

[2016-08-22 02:36] chrobione commented on #7
I agree it should not ship with one:
- Give option to use precompiled one, or pull it down and compile.

[2016-08-22 02:40] chrobione commented on #6
Another suggested alternative might to use Tornado.

[2016-08-22 02:43] chrobione opened #19 "Benchmarking"
Need to get benchmarks of how the system preforms to see how much growing room we have for expanding.
Remember that target platforms:
- RPI2 B
- RPI2 B+
- RPI3

Suggestions on how this benchmark should be done please chime in with your comments.

[2016-08-22 18:58] andweber commented on #7
can you please mark it as "bug" and "help wanted"

[2016-08-22 20:17] TuxSeb commented on #7
it's done @andweber

[2016-08-24 13:35] G10DRAS commented on #13
Look at https://github.com/G10DRAS/JasperModules
OpenWeatherMap Module

[2016-08-24 14:14] G10DRAS commented on #19
As we know, users are already running/using Jasper on all 3 afore mentioned platforms.
In my view bench-marking should be done on per custom plugin/module basis, which will be added to Jasper (core).
It will be useful for users to know few details about the new plugin/module before installation or start using it, like:
1. Functions of  plugin/module.
2. What are the extra libs required and how muc

[2016-08-24 14:16] G10DRAS commented on #12
Look at https://github.com/G10DRAS/JasperModules
Twitter

[2016-08-24 20:27] TuxSeb commented on #13
It work on the older version ? @G10DRAS

[2016-08-24 21:40] TuxSeb opened #23 "Add a tracker of library's update"
Hi guys !

I think that we can add this, https://requires.io/ ,it's a update tracker for the dependencies that can help us to keep our dependencies up to date

thanks

Tux

[2016-08-24 22:48] G10DRAS commented on #13
Yes it works with old version, but for new version code can be taken from this module. Let me know if you face any difficulty, else I will do it over weekend.

[2016-08-24 23:23] TuxSeb commented on #13
ok thank you ! :) i'll do it !

[2016-08-25 11:25] G10DRAS opened #26 "Remove att-stt plug-in."
The AT&T Speech API is in the process of being closed. Please move your production traffic to another solution as soon as possible to avoid a disruption in service.

http://developer.att.com/apis/speech

[2016-08-25 15:10] TuxSeb commented on #16
https://docs.python.org/2/library/hashlib.html

[2016-08-25 22:48] TuxSeb opened #27 "Introduce Home Assistant module"
hi guys, in the next release (the 0.2), we would add a Homme Assitant module, an awesome home automation platform that track diffenrents devices (Arduino included !) and control them !

 https://home-assistant.io/

[2016-08-26 16:28] andweber commented on #27
I will have a Look.

One more general point. Currently it looks like j2f is adding plugins. That's different from the original jasper philosophie. I'm not against it, just pointing out. I guess there are various good plugins out there. But there should be an interface for selecting plugins needed.

[2016-08-26 19:26] andweber commented on #15
I think it would be better to provide a nightly build and version images ready to use for the supported platforms, currently jasper has too many options and dependencies for users.
It's far too complex to get it running.

[2016-09-03 02:54] chrobione commented on #26
This will be done for next release.

[2016-09-04 09:18] andweber opened #32 "[Feature-Request] - Make plugins selectable"
as an enhancement or idea:

Let the user choose which plugins he wants to be loaded and which not.

[2016-09-04 09:21] andweber commented on #27
@TuxSeb have you already thought about the implementation? Are you intending something like a remote for the homeassistant using the python API?

[2016-09-05 22:46] chrobione commented on #32
Sounds like a great idea, need to make sure the gui makes use of it.

[2016-09-07 20:06] andweber commented on #23
It's merged, the new issue would be to update the requirements ;-)

[2016-09-09 07:41] #23 closed, assigned to TuxSeb

[2016-09-09 07:49] TuxSeb opened #35 "Update requirements"
Hi guys ! , the goal is to update the dependencies of Jasper2fork, you can see them [HERE](https://requires.io/github/jasper2fork/j2f/requirements/?branch=jasper-dev)
don't forget to ...
- Test all (or a part)  the plugins with the news dependencies
- Update python_requirements.txt
- Make pull request ONLY on the dev branch
- Update the wiki if it's needed
- Fix pep8 error

Thanks  ;) !

[2016-09-10 09:31] G10DRAS commented on #35
This is not an issue. Better move it to WiKi page.

[2016-09-10 11:05] TuxSeb commented on #35
This is not an issue but an improvement that we should done @G10DRAS

[2016-09-11 02:37] G10DRAS commented on #35
Also mentioned Hardware (RPi2/3,.....) and OS (Jessie/Wheezy/......) where you installed jasper and tested jasper, This is important as not all the libs are available uniformaly on all the plateforms.

[2016-09-17 12:11] G10DRAS opened #38 "mstranslator-tts is not compatible with new Azure Portal to obtain keys,"
Bing Speech API
The Bing Speech API's authentication endpoint and SDK namespaces are changing as of September 21. If you download the new SDK and use the Azure portal to obtain keys, you'll need a new subscription key. Old keys will still work for six months before deprecation. All users will need to change the reference to the SDK namespace.

[2016-10-11 20:56] chrobione commented on #2
do you have pocket sphinx installed?
sorry for the slow reply

[2016-10-11 21:31] andweber commented on #2
yes, we already discussed this a time ago.
When I remember my investigation correctly, its a problem of the testcase design. The test case does not load my local profile - which is so far correct. Thus it fails to find an FST model. There simply is no standard FST model and no FST model is shipped with the test code.

Travis doesn't fail- because it has no pocket sphinx install and skips the test

[2017-03-20 02:02] #38 closed, assigned to nobody

[2017-03-20 02:02] #26 closed, assigned to nobody

[2017-08-23 17:11] jantos opened #40 "japer-client vs j2f"
Just stumbled over this here and was wondering why this exists? Is there a reason why this is separate from the jasper-client project?

[2017-08-24 01:08] chrobione commented on #40
This projected started because of distasteful way that contributors were
treated and expelled.

On Wed, Aug 23, 2017 at 11:11 AM Andreas Jantos <notifications@github.com>
wrote:

[2017-08-24 01:11] jantos commented on #40
Thx for the answer @chrobione, that sucks to hear.

[2017-08-24 01:14] chrobione commented on #40
Yeah sucks even worse to be telling people why too.

So ours split was based off the dev branch that have multiple language
support started.

If you have any questions please feel free to ask.

On Wed, Aug 23, 2017 at 7:11 PM Andreas Jantos <notifications@github.com>
wrote:

[2017-08-24 01:16] jantos commented on #40
I was just wondering which repository is better to use at the end? Based on activity and enhancements. I saw that this one here included snowboy and saw a few other differences.

[2017-08-24 01:29] chrobione commented on #40
There is effort required for both repos, but I am partial to ours.

On Wed, Aug 23, 2017 at 7:16 PM Andreas Jantos <notifications@github.com>
wrote:

[2017-08-24 12:19] jantos opened #41 "audio_engine ALSA throws not a whole number of frames"
The error always occurs if I try to keep the recording going during passive listening. For example saying a long sentence or saying jasper really slowly. This error does not happen when I change the audio_engine to pyaudio.

audio settings in profile.yaml
[code]

Jasper.py --debug output when the error occurs:

[code]

[2017-08-24 12:58] jantos opened #42 "crackling output sound when using audio_engine pyaudio"
When I use the audio_engine pyaudio the output sound is very bad quality and crackling. Comparing debug logs for sound output between pyaudio and alsa doesn't reveal anything special. They are pretty much the same with the exception of different device identifiers.

Here is the debug log when jasper plays sound through pyaudio:

profile audio settings:

[code]

[code]

and here through alsa:

prof

[2018-04-20 22:11] TuxSeb opened #1 "[Features] - UI for OVIA"
Throught this interface using the [Dashboard Node](https://flows.nodered.org/node/node-red-dashboard), users will be able to control the whole system:

* Change TTS and STT engines
* Set profiles for each user
* change volume
* See basics informations about the OVIA devices (Temperature, CPU usage, memory usage, uptime  ...)
* Change Trigger name (change 'OVIA' to something else)
* Install new plu

[2018-05-09 18:43] #4 closed, assigned to TuxSeb

[2018-05-09 18:43] #17 closed, assigned to TuxSeb

[2018-05-11 06:53] TuxSeb opened #43 "[Feature-Request] - introducing NLP"
*NLP*, standing for *Natural Language Processing*, would allow us to analyse the users speech structures more efficiently and make smarter things with OVIA

Currently, OVIA is very simple, you give her a list of word to recognize in your plugins and she will find them in the user speech, and process with them not more, using matching, you can pronounce the sentence which contains your order and it

[2018-05-11 23:20] TuxSeb commented on #40
I'm closing this issue ...

[2018-05-11 23:20] #40 closed, assigned to nobody

[2018-05-11 23:21] TuxSeb commented on #42
Hello, any news ? does it work now ?

[2018-05-11 23:33] TuxSeb commented on #2
Its been a while since this one was open, i'm closing it ...

[2018-05-11 23:33] #2 closed, assigned to nobody

[2018-05-13 00:30] TuxSeb commented on #27
Closing this issue ...

[2018-05-13 00:30] #27 closed, assigned to nobody

[2018-05-13 16:05] TuxSeb opened #44 "[BugFix] - Flake errors with PEP8"
**Here are the errors:**

[code]
Its PEP8 errors (python syntax guide) dectected on [TravisCI](https://travis-ci.org/TheOVIAproject/OVIA)

[2018-05-21 13:10] TuxSeb opened #45 "[Feature-Request] - Watson TTS/STT Integration"
Integration of IBM Watson Text To Speech and Speech To Text as plugins

[2018-05-21 13:13] TuxSeb opened #46 "[Feature-Request] - RESTful API"
Based on this Pull Request: https://github.com/jasperproject/jasper-client/pull/439

That would allow us to interact with Naomi using basic HTTP requests

[2018-05-23 18:03] TuxSeb opened #47 "[Feature-Request] - Re-adding notification plugin functionality"
The notification plugins mode that was implemented in the 1.0 don't seem to be implemented in 2.0.

The interaction here would be passive: Naomi will do some silent monitoring of some information stream (e.g., checking Twitter or email) and tell you when there is something important to report, such as a friend's birthday you don't want to miss or an appointment in the day.

It would be cool to add

[2018-05-23 18:09] TuxSeb opened #48 "[Feature-Request] - Passive Listening for commands"
Instead of saying ‘Jasper’ then wait for a prompt, the user can now enable ‘passive mode’ in the config to enable Jasper to listen to commands and process them in 1 go. ‘Jasper tell me a joke’ will run the same as ‘Jasper?’ beep ‘Tell me a joke’

we could base our work on the following pull request: https://github.com/jasperproject/jasper-client/pull/434

[2018-05-23 18:16] TuxSeb opened #49 "[BugFix] - Update marryTTS"
INPUT_TEXT can contain unicode-characters which urllib.urlencode might not like and result in an error. Therefore encoding the phrase beforehand

[2018-05-25 23:49] TuxSeb opened #51 "Microphones HAT support"
### support various microphones for Raspberry Pi:

For the boards with hats, we could make lights effects like on the Amazon Echo or google home, while receiving a notification, requesting Naomi, Naomi status (Offline, updating software...)

* [Matrix Boards](https://www.matrix.one/products/creator)
  * With leds control support
  * Onboard sensors support
* [ReSpeaker Boards](https://www.seeedstu

[2018-05-31 17:39] TuxSeb opened #52 "Local mode does not support accents"
Bug while using French with jasper in local mode (lauching Jasper in text mode, without TTS/STT and on offline) , it does not support accents

to launch Jasper in this mode: `python Jasper.py --local`

[2018-06-06 17:23] #49 closed, assigned to nobody

[2018-06-27 22:19] #45 closed, assigned to nobody

[2018-07-13 17:48] TuxSeb commented on #52
Fixed

[2018-07-13 17:48] #52 closed, assigned to nobody

[2018-07-13 19:30] #44 closed, assigned to nobody

[2018-07-13 19:31] #35 closed, assigned to nobody

[2018-07-13 19:31] #13 closed, assigned to TuxSeb

[2018-07-13 19:35] TuxSeb opened #57 "Other mail adress support"
Support others email adress in the mail plugin

files to change:
* [notifier.py]( https://github.com/NaomiProject/Naomi/blob/naomi-dev/jasper/notifier.py)
* [app_utils.py](https://github.com/NaomiProject/Naom/blob/3240b05f5eb6bff6f5feec75e1aea93e894889b4/jasper/app_utils.py)
* [gmail.py plugin](https://github.com/NaomiProject/Naomi/blob/3240b05f5eb6bff6f5feec75e1aea93e894889b4/plugins/speechhandle

[2018-07-14 00:05] #14 closed, assigned to nobody

[2018-07-17 22:24] TuxSeb opened #59 "Fix Wit.AI critical error"
critical Bad request error from Wit.ai and Update: api url

[code]

[2018-07-17 22:42] #59 closed, assigned to nobody

[2018-07-17 22:43] TuxSeb opened #60 "Weather plugin wiki"
- [ ] profile.yml setup

[2018-07-17 22:56] #60 closed, assigned to nobody

[2018-07-18 10:22] TuxSeb opened #63 "Feature - Colored terminal output"

[2018-07-19 10:32] TuxSeb opened #64 "bug Snowboy x64 platform"

[2018-07-28 13:31] TuxSeb opened #65 "Adding/updating STT engines"
* Update to the latest version of Phonetisaurus (requires the 1.6 version of OpenFST)
* Adding Mozilla's DeepSpeech engine

[2018-07-28 18:26] AustinCasteel opened #66 "Adding/Updating TTS engines"
• Adding the new [Google Cloud TTS](https://cloud.google.com/text-to-speech/)

[2018-07-28 21:52] TuxSeb commented on #66
Very interesting and one the best engine by far, but you'll need a google cloud account to use it without a break

[2018-07-28 21:57] AustinCasteel commented on #66
Understandable, the quotas aren't bad for the free tier and if someone wants to deploy Naomi on a larger scale they can pay for more.

[2018-07-29 06:11] aaronchantrill commented on #57
I've done quite a bit of work with SMTP. Looks like Python has a good general SMTP library already so this should be pretty easy. It's also something that I have been meaning to get to since i'm not a big fan of Gmail's practice of analyzing the contents of your email for advertising purposes, but I think it would be fun to receive and send email like Joaquin Phoenix in Her.

[2018-07-29 10:10] TuxSeb commented on #57
Yeah it would be fun to send emai with Naomi, but for now i want to update the current module and core parts to make Naomi able to read any mailbox, not only Gmail

however, in a next update sending an email will come for sure😉

[2018-07-29 10:16] aaronchantrill opened #67 "Friendlier initial configuration"
It has always bothered me that when the user first types "./Jasper.py" it just errors out with a message that the configuration file does not exist. The documentation around creating a configuration file has always been awful, and successfully creating a configuration file at this point requires reading the code itself looking for options. There is a program called "populate.py'" in the jasper dir

[2018-07-30 12:36] TuxSeb commented on #67
## Options

Considering there are 3 options to get this job done:

**1.** Ask the user in `application.py` if he want to create his profile (only if the profile doesn't exist)  and if yes, switch to `populate.py`

**2.** Add an argument to the jasper execution `./jasper.py --profile` to create your profile using `populate.py` too.
See [the wiki](https://github.com/NaomiProject/Naomi/wiki/Quickstar

[2018-07-30 20:52] aaronchantrill commented on #65
I have code for my version of Jasper that uses the latest git Phonetisaurus, which you must use if you install the latest OpenFST. It's mostly a matter of changing some parameters being passed in and switching the word list to lower case when performing the phoneme searches. I would like to incorporate those changes to g2p.py and sphinxvocab.py and push to Naomi.

[2018-07-30 21:01] aaronchantrill commented on #65
I have written a Deepspeech STT plugin that I would like to incorporate. It currently does not run on a Raspberry Pi (the standard language model is 1.6 GiB and does not fit into the RPi ram, although I am working to figure out how to fix that). It is currently much slower than pocketsphinx, but allows you to have a much larger vocabulary while maintaining a decent word error rate. I would recomme

[2018-08-01 05:24] aaronchantrill opened #71 "Add support for latest git version of Phonetisaurus"
The current version of Naomi (and Jasper) is not currently compatible with the latest Phonetisaurus. While I have no information that the latest phonetisaurus is significantly superior to the older version in terms of performance, I do know that the instructions for the older version require the user to download a file from https://www.dropbox.com/s/kfht75czdwucni1/g014b2b.tgz. I have no idea whos

[2018-08-01 06:35] aaronchantrill opened #72 "Add support for Mozilla DeepSpeech"
The mozilla project's DeepSpeech is moving forward quickly, and provides a much larger vocabulary than PocketSphinx while maintaining a decent word error rate.

I do not yet have DeepSpeech running on a Raspberry Pi as the current english language model is too big (1.6 GiB) and without this DeepSpeech just returns raw phonemes, like someone who doesn't speak english trying to take notes on a lectu

[2018-08-01 18:06] AustinCasteel opened #73 "Extending Population"
Taking what work aaronchantrill has done with [updating the population process.](https://github.com/NaomiProject/Naomi/pull/70). I would like to extend it further by addressing a couple concerns that where mentioned in [Issue #67](https://github.com/NaomiProject/Naomi/issues/67) as well as implementing a better UX.

By that I mean to formatting the questions better, rewording some of them, as well

[2018-08-01 19:37] TuxSeb commented on #73
I think that would be the last improvement about `populate.py` before starting to write the **V.2.3** goals

[2018-08-05 06:17] G10DRAS commented on #71
Phonetisaurus (github version) is good.
1. Compile it using source code from github.
2. generate new FST (G2P Model) from cmudict.
3. Use this new G2P Model with phonetisaurus-g2pfst as follows
  ` phonetisaurus-g2pfst --model=cmudict.fst --nbest=1 --word=hello`
4. You will need to do some code changes in Jasper code as per above command.

[2018-08-07 03:45] #73 closed, assigned to nobody

[2018-08-07 17:36] TuxSeb opened #79 "Update every dependencies"
**Update every dependecies**

https://requires.io/github/NaomiProject/Naomi/requirements/?branch=naomi-dev

[2018-08-09 14:39] TuxSeb opened #82 "Rename "Jasper" into "Naomi""
Rename every "Jasper" into "Naomi" in every files, making sure everything work fine after this

[2018-08-10 18:22] AustinCasteel commented on #82
I can knock this one out by next week if someone else doesn't want to do it before then. It only takes about an hour or two to do. (did it my self for my install)

[2018-08-11 09:33] TuxSeb commented on #82
okay 👍  i assign you this task

[2018-08-11 21:48] aaronchantrill commented on #82
Use of find and sed really help with things like this. I have used this to check what files need updating:
`
find . -type f -iname '*.py' -exec grep -Hi 'jasper' {} \;`

then once you have identified something

[code]

should do it. I just used this to change my own jasper's name to 'Computer' a la Star Trek, just so I could have both Computer and Naomi installed at the same time and using differe

[2018-08-11 22:40] aaronchantrill commented on #82
Of course, then you have to go through and change the names of any files or directories that contain 'jasper' to the new name also:
`find . -iname '*jasper*'`
It's easier to rename those manually than write a script for it.

[2018-08-11 23:21] TuxSeb commented on #63
If you want to do it quickly, there's this library https://pypi.org/project/coloredlogs/, and then inject it in `application.py`

the advantage of this library is that it's really easy to add the feature we want and easy as hell to maintain, plus it still updated by it's contributor

[2018-08-13 04:26] aaronchantrill commented on #71
This is done.

[2018-08-13 04:26] #71 closed, assigned to aaronchantrill

[2018-08-16 14:47] chazu opened #86 "Discord link expired on README"
**Describe the bug**
Discord link expired on README

**To Reproduce**
Click the discord link

**Expected behavior**
The link should work :3

**System**
Regular ol' computer

**Additional context**
Hullo I want to be in your discord

[2018-08-16 15:08] TuxSeb commented on #86
ahhhh sorry, here's the link https://discord.gg/knequ9t

I'm gonna fix it on the repository

[2018-08-17 19:07] #86 closed, assigned to nobody

[2018-08-19 00:59] redragonx commented on #16
A better way would be using the Google signin apis

[2018-08-19 02:53] redragonx commented on #79
Closing issue.

[2018-08-19 02:53] #79 closed, assigned to TuxSeb

[2018-08-19 03:41] redragonx commented on #82
Closing...

[2018-08-19 03:41] #82 closed, assigned to AustinCasteel

[2018-08-19 04:10] redragonx commented on #43
https://spacy.io/ might fit our fits for fast offline NLP

[2018-08-19 18:05] aaronchantrill commented on #72
Done by adding the deepspeech-stt speech to text plugin.

[2018-08-19 18:05] #72 closed, assigned to aaronchantrill

[2018-08-19 18:07] aaronchantrill commented on #65
Finished through updating the pocketsphinx plugin and adding the deepspeech-tts plugin.

[2018-08-19 18:07] #65 closed, assigned to aaronchantrill

[2018-08-19 20:13] redragonx commented on #65
To use the lang model, we could see if we can stream the model from disk. I'm not good with Deepspeech yet though, so just an idea @aaronchantrill

[2018-08-19 20:36] TuxSeb commented on #16
finally it's not only for gmail, it form any mail adress, since i updated the emails parts to be more generic with others adress

[2018-08-19 20:39] TuxSeb commented on #43
a man previously created this pr https://github.com/NaomiProject/Naomi/pull/31 about adding Text To intent handling

From this we could add various NLP engines (NLTK, Spacy ...) as plugins  , and be independent of any

[2018-08-19 22:55] redragonx opened #89 "Auth middleware for naomi and plugins"
**Is your feature request related to a problem? Please describe.**
There is no current way of allowing users to authenticate with 3rd party services very easy. And each plugin requires the developer to implement auth code. This is not very scalable!

**Describe the solution you'd like**

I'd like to have one codebase to authenticate other services.

E.G. Allowing plugins to use these services w/o

[2018-08-20 12:43] #57 closed, assigned to TuxSeb

[2018-08-20 12:44] #63 closed, assigned to AustinCasteel, TuxSeb

[2018-08-20 18:18] redragonx opened #90 "Migrate to Python 3 soon."
We shouldn't be supporting legacy versions of Python.

https://pythonclock.org/

[2018-08-23 14:34] TuxSeb opened #91 "Fix Coveralls, Travis CI and Codacy"
**Describe the bug**

Theses dev tools currently doesn't work, they're all pointing to an other repository or a previous used name

[2018-08-23 14:37] AustinCasteel commented on #91
Do note, the new read me has been updated to reflect the name & repo changes. But that being said, if the integration was never setup for naomi then the links wont work until they are.

[2018-08-23 16:43] mrclemds opened #92 "msgfmt: command not found"
I have not been able to follow the installation process because it has been installed. That was causing msgfmt: command not found. Could you add it to the wiki?

[2018-08-23 19:18] TuxSeb commented on #92
Hi, How can i reproduce this error ? on which file ? please provide more informations

[2018-08-24 01:59] redragonx opened #93 "How should users get notifications?"
What are the ways we'd want to notify users?

Email
SMS
???

[2018-08-24 11:05] TuxSeb commented on #93
Basically if there's a notification from any social network (Facebook, Twitter ...) the user should get the notification, Naomi should tell ya using TTS like "PPL liked your picture on SOCIAL_NETWORK"

It would be vocal notifications

[2018-08-24 11:08] TuxSeb commented on #93
Here's an example of what you could do, based on a PR on the origial Jasper project https://github.com/jasperproject/jasper-client/pull/416

[2018-08-26 18:29] aaronchantrill commented on #64
@TuxSeb What does this mean? Is there a bug in Snowboy, or do you want to bug the devs about something?

[2018-08-27 05:49] aaronchantrill commented on #92
It's at the ./compile_translations.sh point. It can be resolved by installing the "gettext" Raspbian package. So the line "sudo apt install git nano python-pip python-pyaudio python3-pyaudio" should be changed to "sudo apt install git nano python-pip python-pyaudio python3-pyaudio gettext" in the documentation/wiki. I have updated the Wiki. @Longshotpro2, could you copy the update to the ProjectNa

[2018-08-27 06:02] AustinCasteel commented on #92
Website documentation updated!

[2018-08-27 07:00] aaronchantrill commented on #92
Thanks @Longshotpro2
@mrclemds, does this resolve this particular issue?

[2018-08-27 11:25] mrclemds commented on #92
Yep thank you.

[2018-08-27 11:25] #92 closed, assigned to nobody

[2018-08-29 05:28] aaronchantrill commented on #90
Raspbian/Debian Stretch still use Python 2.7 as default. To use Python 3, you have to specify "python3" as the interpreter. In both pocketsphinx and deepspeech you are building tools for your specific version of python. To change from 2.7 to 3.5 currently requires remapping /usr/bin/python to /usr/bin/python3.5 and installing the python3-dev package. So at the moment it is more user friendly to us

[2018-08-29 06:46] redragonx commented on #90
Don't forget that we have virtual env scripts to do this in 1 sec or so. Plus we can specifiy it with update-alteratives or use a bash startup to detect it too.

https://linuxconfig.org/how-to-change-from-default-to-alternative-python-version-on-debian-linux

[2018-08-31 18:37] aaronchantrill commented on #90
Well, changing the interpreter from "python2" to "python3" in Naomi.py isn't such a big deal. It's compiling some of the support modules that I'm working on. I'm working on a whole new walkthrough on installing pocketsphinx/phonetisaurus this weekend and working on two different methods, one where you compile everything from source as in my current guide and one where you use as many pre-built Deb

[2018-09-02 20:43] aaronchantrill opened #94 "Select the audio engine to use for special modes"
The mic module includes a "special_mode" context. This is supposed to be used for when you want to have a specific, pointed vocabulary. In the default speechhandler plugins that come with Naomi, this is used as part of the MPDControl plugin to define a small set of words ("play", "pause", "stop", etc) that Naomi will respond to while in "music mode". Unfortunately, right now this defaults to the "

[2018-09-04 08:28] aaronchantrill opened #96 "Use NOAA and WWIS for weather information"
I don't use Yahoo!. I'm not sure why Weather Underground is used to validate the location (zip code or major city) being sent to Yahoo! to get weather information.

I'd like to expand the standard weather plugin and ask the user to choose a weather service before asking for a location. I would start with NOAA for US weather and WWIS for international weather, then let others expand the list as nee

[2018-09-04 08:34] aaronchantrill opened #97 "Get permission from the user when contacting a new web service"
From a security and privacy point of view, I would like Naomi to get my permission before contacting a new web site or service. I would like Naomi to remember a list of whitelisted/blacklisted domains, which could later be reviewed and edited. That way I'm aware of where information is being gotten from, and am also at least somewhat more aware what entities are receiving bits of information from

[2018-09-04 14:20] aaronchantrill commented on #65
Yes, @redragonx that would be my approach also. It also seems like we should be able to cut down the size of the model by limiting vocabulary some. I'm planning to dig into the deepspeech/tensorflow stuff right after I get training acoustic models in CMUSphinx working. I'd love to have someone to work with.

[2018-09-04 14:31] aaronchantrill opened #98 "Move plugin specific settings into the plugin"
Right now, if you write a plugin with special settings (which weather service do you want? what is your email address? etc.) you either need to put those settings into "populate.py" manually, or just include a set of instructions for the user to update their profile.yml file.

To really be user friendly, I would like to have the plugin.info file that defines the plugin also list variables that nee

[2018-09-04 17:14] redragonx commented on #98
There are a lot I would change about plugins. But we need to start simple. I agree with your thoughts, but I also think we should talk about putting settings in separate tables in a DB. This would make it easier to find a setting in a centralized area. Plus makes the GUI/terminal gui easier to manage.

plugin.info doesn't need anything  but the author info, etc.

[2018-09-04 17:20] redragonx commented on #97
This is a good idea, we should also make a security a first for Naomi. We are building a privacy aware assistant afterall.

We should take notes on how iOS/Android asks for user permissions.

[2018-09-04 18:23] aaronchantrill commented on #98
I'd love to have your thoughts on what issues you would like to address with plugins. I'm happy they exist as such. They make a very convenient packaging system for this project. I have a lot of development experience but am just picking up Python now, so I don't know how standard the Naomi implementation is.

I don't feel like a full on relational database is really necessary right now given the

[2018-09-07 21:35] TuxSeb commented on #97
I totally agree with this, let's see how stuff could be merged in Naomi

[2018-09-11 17:29] AustinCasteel commented on #91
After reviewing further, I pushed an update for the readme so now it is truly updated. Travis build fails, why the badge is errored. Coveralls needs to be updated, site is linked to the repo but there is no build for it to use currently. And finally Codacy is implemented and updated at least from what I can see.

[2018-09-18 04:28] aaronchantrill commented on #98
Having worked with some of the plugins, it seems like defining a standard function which can be called upon first loading a plugin to see if the plugin has been configured and then walking the user through the configuration if not should be easy enough to accomplish. Basically a "populate" function in each plugin.

[2018-09-19 14:54] aaronchantrill opened #102 "Visualizations for audio in/out"
To better understand what works and doesn't work with Naomi STT, it helps me to see the actual transcription of what Naomi understood you to say and the response. I have done this in the past in the mic module by just adding some print lines to the check_for_keyword, active_listen, and say procedures.

In the past, I have used a single less than (<) for passive listen/wait for keyword, a double le

[2018-09-20 18:29] aaronchantrill opened #103 "Automate STT training"
This one is a little out there. It is something I have been playing with on my own Jasper clone, and was one of the reasons I was interested in Jasper in the first place. I have added the ability to capture raw audio and save it to a file, and add both the filename and generated transcription to a sqlite database. This allows the user to hand-verify transcriptions of audio samples and build new ac

[2018-09-26 12:54] architek opened #104 "Wiki - Build and install openfst - Reference to checkconfig"
Hello,

The wiki references checkconfig [here](https://github.com/NaomiProject/Naomi/wiki/Installing-Pocketsphinx-and-Phonetisaurus#build-and-install-openfst ).

I'm not able to find this in raspbian or debian repository. Actually I can't find it anywhere.

Where can this binary be found? Or should the wiki be updated ?

**System**
- Device:  Raspberry Pi + Laptop
- OS: Raspbian + Debian Buster

T

[2018-09-29 19:33] aaronchantrill commented on #104
Sorry, it was checkinstall not checkconfig. I was thinking of adding it and I guess I did accidentally add a line about it. Sorry. Removed.

[2018-09-29 19:33] #104 closed, assigned to nobody

[2018-10-01 06:03] aaronchantrill opened #106 "Script for updating translation files."
When updating the translation files, there is one .po file for the naomi folder, then one for each speechhandler plugin. I'd like to create a small script for updating all of these. It would take a language as argument and would go through the whole process including merging in any translations that already exist. This should make it easier to maintain translation files and add new translations.

[2018-12-05 14:05] gospodima opened #119 "naomi-dev crashes with german"
**Describe the bug**
I tried to migrate from master branch to naomi-dev branch, but it seems to me that naomi-dev version doesn't work with German language.

**To Reproduce**
Steps to reproduce the behavior:
I used profile.yml that was written for master branch:
[code]
I used german language [model](http://goofy.zamia.org/zamia-speech/asr-models/cmusphinx-ptm-generic-de-r20180609.tar.xz) from [zam

[2018-12-05 14:43] aaronchantrill commented on #119
Thank you for the detailed notes. I am working on duplicating this issue right now.

[2018-12-05 15:00] gospodima commented on #119
@aaronchantrill
I forgot to say that dict-xsampa.fst was taken from [this](https://github.com/G10DRAS/German-G2P-and-Acoustic-Model) repo. (In zamia-speech project I didn't find fst model)

[2018-12-05 15:31] aaronchantrill commented on #119
@gospodima
Thanks, I was just working on building the .fst file, but I'll use that one. Since you say that it runs fine from master, I assume you are using the older versions of pocketsphinx and phonetisaurus from the jasper documentation (which should still work fine with naomi-dev). I'm building that environment now so I can test master.

[2018-12-06 04:52] aaronchantrill commented on #119
I had a few interruptions today. I got my environment set up finally (had to use a new trick to get openfst installed this time as documented here https://github.com/kaldi-asr/kaldi/issues/1030) but now I have to go to sleep. I'll give it a test with your profile in the morning. It might be helpful to me if you would be willing to send me a recording of yourself or someone asking Naomi for the tim

[2018-12-06 09:48] gospodima commented on #119
@aaronchantrill
Unfortunately, I have no opportunity to send my recordings (and I am also not a native speaker) but I think examples can be found in videos on youtube ([1](https://www.youtube.com/watch?v=M20dL0bl7hE) — meaning of life, [2](https://www.youtube.com/watch?v=xDp5kZIypJI) — weather) or in some other sources.

[2018-12-06 12:04] aaronchantrill commented on #119
No problem. I can download audio from google translate for my current testing.

[2018-12-07 02:09] aaronchantrill commented on #119
@gospodima

I'm getting a segmentation fault with the suggested model and dictionary files. Is that the original error you got before building the files manually? I'm looking into where and why exactly that is occurring now. I have current copies of both the master and dev copies on my local machine, and have verified that master does not have an issue, so it must be something in the plugin code.

[2018-12-07 08:50] gospodima commented on #119
@aaronchantrill

What do you mean with 'building the files manually'? I run naomi, the program stops during the building of vocabulary (I am not sure that this is a segfault because I don't see any error message) and then I run naomi again and become the above error. I suppose it caused by wrong vocabulary creation.
So I didn't create the files manually.

I think it can be caused by setting a wron

[2018-12-07 14:19] aaronchantrill commented on #119
Okay, from the description above I thought you had created the "default" and "keyword" vocabularies manually and put them into the "vocabularies" folder in ~/.naomi. That's something that I've done before for different reasons, if a vocabulary file doesn't generate correctly but does create a checksum. Now I understand that you ran the program once, which appears to have generated the vocabulary f

[2018-12-07 15:25] gospodima commented on #119
@aaronchantrill
Unfortunately I didn't find how to check pocketsphinx version, but I am sure that I installed it according to the jasper [documentation](http://jasperproject.github.io/documentation/installation/#installing-sphinx).

I deleted all files in /tmp created by naomi and then started dev version. Now I have there only one file:

[code]

Starting naomi once again didn't give any changes (

[2018-12-07 15:32] aaronchantrill commented on #119
I think I have the issue figured out. It has to do with the standard english dictionary being in upper case in the older dictionary and lower case in the newer dictionary. I tried to fix this by changing the case when Naomi is generating the custom dictionaries, but the real fix would be to make sure that the dictionary case matches the phrase case. This is more important in German than in English

[2018-12-07 15:54] gospodima commented on #119
@aaronchantrill

Your instructions are slighlty incorrect because you replace keyword folder with languagemodel file. But generally copying of the dictionaries works. Now dev version is running as it should.
Thanks for your help!

However, I didn't fully understand where was the problem.

Which dictionaries do you mean? And in which files do we have now lower case instead of upper case?

[2018-12-07 16:51] aaronchantrill commented on #119
That shouldn't replace the keyword folder, just copy the file into it.

This doesn't really fix the issue, just verifies that the issue is in generating the language model and dictionary files. As soon as anything changed in the list of words being generated (adding a plugin, changing a word) you would be right back to this problem.

I'm still looking into what the difference is exactly. It turns

[2018-12-10 01:38] aaronchantrill opened #120 "Can't finish creating profile.yml if neither pyaudio nor pyalsaaudio modules are installed"
**Is your feature request related to a problem? Please describe.**
If you start ./Naomi.py without having first installed the pyaudio and/or pyalsaaudio modules, then you get stuck in the "choose an audio engine" section of populate.py, where you are required to make a choice but given no choices to select from. The user is not told exactly what they are missing in order to add the choices, and in

[2018-12-10 10:14] gospodima commented on #82
Hi @TuxSeb,
As far as I can see 'Jasper' still remains as key phrase in the project, doesn't it?

[2018-12-10 15:46] #120 closed, assigned to nobody

[2018-12-10 16:39] AustinCasteel commented on #82
Yes, the keyword is still Jasper. We are in the works on implementing snowboy in a later release which will allow the user to chose their own keyword, but for now Jasper remains.

[2018-12-10 17:57] exarkun opened #121 "Missing `blessings` dependency declaration"
**Describe the bug**
Populate.py fails with a traceback:

[code]

**To Reproduce**
* Checkout Naomi, naomi-dev branch
* pip install -r python_requirements.txt
* run Populate.py (as instructed by https://github.com/NaomiProject/Naomi/wiki/Naomi-Installation-steps#running-naomi)

**Expected behavior**
To be guided through the profile creation process

**Screenshots**
If applicable, add screenshots t

[2018-12-10 18:15] aaronchantrill commented on #121
Blessings is listed in python-requirements.txt, so I'm not sure why this would be an issue. Could you run pip install -r python-requirements.txt again and post the output?

[2018-12-10 18:16] aaronchantrill commented on #121
Are you maybe working in two different virtual environments?

[2018-12-10 18:25] exarkun commented on #121
Hm.  What I probably did was check out master, install requirements from there, then switch to the naomi-dev branch.

[2018-12-10 20:12] aaronchantrill commented on #119
I have uploaded pull request #123 which fixes the issue of the specific pocketsphinx dictionary case (upper or lower) depending on the version of phonetisaurus, and returning it to a state where we try to feed the specific word list to phonetisaurus in all upper case first, and if there is a "symbol not found" issue then automatically attempt to re-feed it in as all lower case. That way plugin aut

[2018-12-10 23:32] aaronchantrill commented on #121
Okay, that makes sense. Closing. Thank you for testing and reporting.

[2018-12-10 23:32] #121 closed, assigned to nobody

[2018-12-11 01:43] aaronchantrill commented on #119
For future reference, it is only necessary to have one or the other of the German models listed in the beginning of this thread. For my final testing, I only used the second one. Here is my test procedure, using an audio clip downloaded from Google Translate of the english "Hello, can you hear me?" to the German "hallo, kannst du mich hören?" (unfortunately, I don't seen to be able to attach it he

[2018-12-11 01:49] aaronchantrill commented on #106
Since the basic script has been merged into naomi-dev, I am closing this issue. Thanks all!

[2018-12-11 01:49] #106 closed, assigned to nobody

[2018-12-11 04:16] aaronchantrill commented on #82
I haven't used "jasper" as a trigger since before the Naomi project forked. The Populate.py script asks you what trigger phrase you want to use, with a default of Naomi. It's just an entry (keyword) in profile.yml. Am I misunderstanding the question?

[2018-12-11 04:28] AustinCasteel commented on #82
After digging further in, the base Naomi will use what keyword you input during the populate process as @aaronchantrill said. The only places that still have "jasper" as a keyword are the testutils, local_mic, & batch_mic.

[2018-12-11 04:34] aaronchantrill commented on #82
Okay, I'm pretty sure all of those can be changed with no ill effects.

[2018-12-11 04:34] aaronchantrill commented on #82
Especially all the defaults when there is no "keyword" entry in profile.yml

[2018-12-11 04:43] AustinCasteel commented on #82
When I made the conversion some things were changed that were not supposed to be and some things did not change even though there were supposed to. We can fix these minor things as we come across them.

[2018-12-11 14:26] gospodima commented on #119
@aaronchantrill
Thanks for your help!
Unfortunately I can test it only on the next week. After that I will appear here.

[2018-12-12 01:46] aaronchantrill opened #124 "Let naomi use a list for wakewords"
I think it would be fun to allow Naomi to respond to a list of wake words instead of a single wake word. A list like ["naomi", "gnomie", "computer", "glados", "hal", etc.]

It should be easy enough to add an intersection statement to mic.py and detect not only when any one of the wake words is spoken, but which one was (ones were) spoken, so Naomi can react differently to different wake words.

I'

[2018-12-12 13:16] aaronchantrill commented on #119
You should be able to delete or rename the "vocabularies" folder under the "~/.naomi" folder (~/.naomi/vocabularies), update the Naomi source, and just have Naomi rebuild them. I'll try to get the patch merged in by this weekend. If you are ready to test and patch 123 hasn't been merged, please let me know. You should also be able to git clone directly from the branch I used to make the pull reque

[2018-12-17 12:51] gospodima commented on #119
Hi @aaronchantrill
I tried to test your fix-branch today. When I write `phonetisaurus_executable: phonetisaurus-g2pfst` in profile an error occurs:

[code]

It happens with both models listed here.
I don't know which file it can't find, but `/home/pi/dev/German-G2P-and-Acoustic-Model/voxforge-de.fst` is a correct path for me.

Without this line starting the project with the zamia-speech model goes

[2018-12-17 17:12] aaronchantrill commented on #119
@gospodima - I'm sorry it's still frustrating you. Phonetisaurus-g2pfst is only available with the latest versions of phonetisaurus, so unless you have built phonetisaurus from the git repository, you probably still have phonetisaurus-g2p.

Can you try the following in your profile:
active-stt:
  engine: sphinx
pocketsphinx:
  fst_model: /home/pi/dev/German-G2P-and-Acoustic-Model/voxforge-de.fst

[2018-12-18 04:13] aaronchantrill commented on #119
Okay, I'm running through the Jasper install instructions and in order to even compile openfst-0.3.4 I had to change line 87 in src/script/text-io.cc from
```bool ret = *strm```
to
```bool ret = static_cast<bool>(*strm)```
which means that the jasper instructions are basically useless at this point. I'm not sure how you even managed to get this installed!

There is no fst file included with the za

[2018-12-18 19:23] aaronchantrill commented on #119
Okay, I think this is resolved, so I am going to mark it resolved and close it for now. Feel free to open it again if it doesn't work for you next time and I'll be happy to work on it until we can resolve it. I am going to add the German language support instructions to the Wiki.

[2018-12-19 00:24] AustinCasteel commented on #91
Travis has now been removed for the time being. Closing this issue since all has been handled.

[2018-12-19 00:24] #91 closed, assigned to TuxSeb

[2018-12-19 00:37] AustinCasteel commented on #5
Closing this issue during clean up. Reopen if needed!

[2018-12-19 00:37] #5 closed, assigned to nobody

[2018-12-19 01:58] AustinCasteel opened #126 "Labeling Template"
# Assignment to Issues or Pull Requests
Most of the labels can be applied to both Issues and Pull Requests, however for some labels, they may not make sense to apply it to one or the other.

## Combinations

An issue or PR should only have one label from the *Priority* category, and one from the *Type* category. It may make sense to combine some *Status* category labels to an issue or PR, but not

[2018-12-19 23:17] aaronchantrill commented on #119
Okay, I'm just waiting on the pull request to be merged.

[2018-12-20 03:50] aaronchantrill commented on #119
Pull request merged. Thanks!

[2018-12-20 03:50] #119 closed, assigned to aaronchantrill

[2018-12-21 00:56] #15 closed, assigned to AustinCasteel

[2018-12-21 16:12] aaronchantrill commented on #90
Okay, I just started messing with this and am about to create a pull request on the new Naomi-dev branch. Still in early stages.

[2018-12-23 13:22] abhiTronix commented on #90
@aaronchantrill @Longshotpro2  **Do we really need `Phonetisaurus`'s python bindings for this project during its installation?** https://projectnaomi.com/docs/plugins/pocketsphinx-install.html#build-and-install-phonetisaurus

_If yes, then it's only available for `Python-2.7` specifically, not for `Python-3`, **then we need a PR to fix that too?**_

[2018-12-24 05:26] n8ohu commented on #51
Probably doable, but will have to be configurable as well. I have one of the ReSpeaker 2 mic HATs coming in Thursday and for my specific intended use, the LEDs need to be off.

[2018-12-24 05:36] AustinCasteel commented on #51
This is something we talked about in our maintainers meeting last Tuesday. The consensus was that we would have different builds for varies special hats. However it will not be something we actively develop for some time. If at anytime after the Naobian image is released someone wants to make a special hat version, we will be more then happy to incorporate it. Just not in the pipeline right now du

[2018-12-24 05:36] abhiTronix opened #132 "Phonetisaurus's python bindings only available for Python 2.7 not 3"
Adding to #90,
Is Phonetisaurus's python bindings are necessary for this project as stated here: https://projectnaomi.com/docs/plugins/pocketsphinx-install.html#build-and-install-phonetisaurus

If the answer is yes, then it's only available for Python-2.7 or less specifically, not for Python-3+. Here's the comment confirming this by the repo owner: https://github.com/AdolfVonKleist/Phonetisaurus/p

[2018-12-24 05:58] AustinCasteel commented on #132
We do not accept issues that do not follow the issue templates, just for future reference. That being said, I am aware at the time of creation the issue template was not working properly, and I apologize.

As far as sphinx and py3... We are currently in the process of migrating over to py3, however this did come up today but nothing was said about it past the mention. I am not the one knowledgeabl

[2018-12-24 14:10] aaronchantrill commented on #132
We do not currently use the phonetisaurus bindings for python, and already have Pocketsphinx working with Python3. We construct a command line argument and pass it to phonetisaurus using the subprocess module. However, since Codacy flags every use of subprocess as a potential security risk (as far as I can tell, this is due to the fact that a program could be replaced with something nefarious, but

[2018-12-24 14:10] #132 closed, assigned to nobody

[2018-12-24 15:57] AustinCasteel opened #133 "Coveralls & Codacy Badges"
## Description

Remove coveralls since it is no longer integrated, as well as fix the codacy badge to reflect what it actually is.

## Expected Behavior

Readme to be up to date

## Actual Behavior

Readme badges are out of date

## Possible Fix

Just remove the coveralls <a> tag and replace codacy hyperlinks to the correct links

## Steps to Reproduce

Not Relevant...

## Context

Wanting an alwa

[2018-12-24 17:10] aaronchantrill opened #136 "Naomi-setup.sh issues"
## Description
The naomi-setup.sh program has a couple of issues.

First, you must install the libncurses5-dev package on raspbian before python can be built with support for the curses module.

Second, we ran into problems where people tried to run pip install -r python-requirements and ended up upgrading their pip and breaking it because it was no longer compatible with their system. It seems th

[2018-12-24 23:04] AustinCasteel commented on #136
Issue resolved with pull requests listed above. Reopen if this issue comes about again.

[2018-12-24 23:04] #136 closed, assigned to nobody

[2018-12-29 00:26] aaronchantrill opened #139 "Fix unittests so that unconfigured options don't fail"
## Description
As part of the process of submitting a patch to Naomi, one must check a checkbox stating "All new and existing tests have passed"

Since converting from Python 2 to Python 3, when running unittest with discover, unittest is attempting to load every module under that current directory, and failing any that fail to load. Unfortunately, a lot of the plugins (which are also modules) fai

[2018-12-30 03:51] redragonx opened #140 "Adding GPG file verify to Naomi setup.sh"
As a result of good code practice, we need to make sure that the Python source is indeed the original downloaded and compiled without malware or modifications. With the best tools available for this particular issue. Still not ideal but whatever.

## Context
This is important because we're downloading "arbitrary" code and then compiling it. And since this is a complete language, there is a lot one

[2018-12-30 05:12] redragonx commented on #90
Closing this ticket as @aaronchantrill did the python3 branch and is now merged at #129 PR.

[2018-12-30 05:12] #90 closed, assigned to aaronchantrill

[2018-12-30 05:58] aaronchantrill opened #141 "Plugin discovery, install through Naomi"
## Detailed Description
Right now there is no method for adding plugins other than either receiving them with the initial download of Naomi or downloading and installing them manually. I'd like a simple interface for working with plugins.

## Context
This change should make it easier to publish plugins and get them used.

## Possible Implementation
I would implement initially as a command line int

[2018-12-30 20:14] AustinCasteel commented on #133
Pull requests merged, closing issue.

[2018-12-30 20:14] #133 closed, assigned to AustinCasteel

[2018-12-31 01:44] AustinCasteel commented on #6
Abandoning issue due to being out of date. Make a new issue & pull request referencing this one if this needs to be reopened.

[2018-12-31 01:44] #6 closed, assigned to nobody

[2018-12-31 01:45] AustinCasteel commented on #7
Abandoning issue due to being out of date. Make a new issue & pull request referencing this one if this needs to be reopened.

[2018-12-31 01:45] #7 closed, assigned to nobody

[2018-12-31 01:46] AustinCasteel commented on #10
Abandoning issue due to being out of date. Make a new issue & pull request referencing this one if this needs to be reopened.

[2018-12-31 01:46] #10 closed, assigned to nobody

[2018-12-31 01:46] AustinCasteel commented on #11
Abandoning issue due to being out of date. Make a new issue & pull request referencing this one if this needs to be reopened.

[2018-12-31 01:46] #11 closed, assigned to nobody

[2018-12-31 01:47] AustinCasteel commented on #12
Abandoning issue due to being out of date. Make a new issue & pull request referencing this one if this needs to be reopened.

[2018-12-31 01:47] #12 closed, assigned to nobody

[2018-12-31 01:48] AustinCasteel commented on #16
Abandoning issue due to being out of date & not up to standards. Make a new issue & pull request referencing this one if this needs to be reopened.

[2018-12-31 01:49] AustinCasteel commented on #19
Abandoning issue due to being out of date. Make a new issue & pull request referencing this one if this needs to be reopened.

[2018-12-31 01:49] #19 closed, assigned to nobody

[2018-12-31 01:53] AustinCasteel commented on #16
Reopening, But need confirmation on if this is being worked on or not...

[2018-12-31 01:54] AustinCasteel commented on #41
Abandoning issue due to being out of date. Make a new issue & pull request referencing this one if this needs to be reopened.

[2018-12-31 01:54] #41 closed, assigned to nobody

[2018-12-31 01:55] AustinCasteel commented on #42
Abandoning issue due to being out of date. Make a new issue & pull request referencing this one if this needs to be reopened.

[2018-12-31 01:55] #42 closed, assigned to nobody

[2018-12-31 01:58] AustinCasteel commented on #64
Abandoning issue due to being out of date & not up to standards. Make a new issue & pull request referencing this one if this needs to be reopened.

[2018-12-31 01:58] #64 closed, assigned to nobody

[2018-12-31 05:49] redragonx commented on #16
Will give a new update comment soon.

[2019-01-05 12:32] aaronchantrill opened #144 "VAD plugin"
## Detailed Description
I want to be able to use different Voice Activity Detection programs like WebRTCVAD to see if we can get a better estimate of when someone is talking or not. Right now we are only using noise levels to detect when to start recording and send data to the STT parser.

## Context
Currently, Naomi records whenever it hears a loud noise. It then sends this recording to Pocketsph

[2019-01-06 05:20] #93 closed, assigned to nobody

[2019-01-06 15:19] aaronchantrill commented on #97
I'm not ready to close this. I have a lot of stuff that I'm working on at the moment, but this should be easy for someone to implement through a table of "trusted" resources and by pulling all requests for external resources into a function. I'm not sure how to turn this into a carrot for developers, possibly by implementing some firewall rules within the Naomi environment. This is much lower prio

[2019-01-08 15:57] redragonx opened #145 "Implementing multiple keyservers"
That is very possible, and it seems likely that problems will occur from time to time, just due to the fact that public keyservers go up and down. If you try that again on the same machine, does it work? This does not look like a bug, but the program operating as designed.

_Originally posted by @aaronchantrill in https://github.com/NaomiProject/Naomi/pull/143_

[2019-01-08 16:00] redragonx commented on #145
It would be good to try another server if the first gets "no data". I can keep trying without success with keys.gnupg.net as shown below.

![screenshot_2019-01-08_08-57-50](https://user-images.githubusercontent.com/3073252/50842248-8359e300-1323-11e9-974c-d9269c81d27d.png)

[2019-01-08 16:07] redragonx commented on #145
The keyserver pgp.mit.edu worked for me and seems to be more available.

![screenshot_2019-01-08_09-06-47](https://user-images.githubusercontent.com/3073252/50842836-c8324980-1324-11e9-888c-c5383b637977.png)

[2019-01-08 16:22] redragonx commented on #145
This issue is related to pr #143 and issue #140

[2019-01-09 15:38] gospodima commented on #119
I made update from dev-branch and now I have no problem with dictionaries. Thanks!

[2019-01-09 16:14] gospodima opened #146 "Problems with unicode"
I have some problems with unicode in new versions of naomi

1. In local mode naomi throws an error from active_listen function if I try to send some message to naomi :
[code]

In current master & dev-branch active_listen function looks as follows:
[code]

But version which can be found in commit 59882f1a6d14a1de7e6c3a16fb16f62f9b99b8a8 works fine for me and doesn't throw any error:
[code]

2. For

[2019-01-09 19:42] redragonx commented on #146
As a big push for supporting Python 3, we no longer support python 2 since it's near end of life. See #129  and #90

The master branch is still supported in python 2, our naomi-dev branch switched to Python 3.

Let me know if python3 works for you. You might have to reinstall Naomi with the new install script.

[2019-01-09 20:02] redragonx opened #147 "Put a warning in the naomi-dev branch that says something about Python 3"
It just occurred to me that we should make sure old and new developers are aware of the big switch from Python 2 to 3. We didn't give a fair warning or even a good job communicating this fact to the world besides a badge in the readme file.

## Detailed Description
Until we fully merge the changes into the master branch, I think creating a bold title is a great idea, in the readme that says "We sw

[2019-01-11 00:06] aaronchantrill commented on #146
@gospodima you may need to redo the import with
`pip3 install -r python-requirements.txt`
The dev version of Naomi moved to python 3.5+ (the current version in Raspbian Stretch)
What are you running this on? Just asking out of curiosity.

[2019-01-11 09:01] gospodima commented on #146
@aaronchantrill I am running this on Raspbian Stretch. I had some problems with pip: pip3 didn't install any packages because they were already installed but in python 2.7 folder. I hope that with `sudo python3 -m pip install -r python_requirements.txt ` I installed requirements in python 3.5 folder. And now it gives me an error that Pocketsphinx not installed. Trying now to install..

[2019-01-11 09:44] gospodima commented on #146
Okay. I installed pocketsphinx for python3 and got the next problem:
[code]

[2019-01-11 17:26] redragonx commented on #102
Merged the pr #142

[2019-01-11 17:26] #102 closed, assigned to aaronchantrill

[2019-01-11 21:01] aaronchantrill commented on #145
I have added a second keyserver. I'm not sure how to test this since the first one always works for me, but this should work.

[2019-01-11 21:05] redragonx commented on #145
For future reference, you can test things like this by adding the domain in /etc/hosts and put 127.0.0.1 as the ip. It'll redirect the url there.

[2019-01-11 21:29] redragonx commented on #140
This was done in pr #143

[2019-01-11 21:29] #140 closed, assigned to aaronchantrill

[2019-01-11 21:30] redragonx commented on #145
Fix has been added in the pr #143

[2019-01-11 21:30] #145 closed, assigned to nobody

[2019-01-11 21:41] AustinCasteel commented on #147
Associated pull requests have been merged, closing. Reopen or create a new Issue if a related issue arises in the future.

[2019-01-11 21:41] #147 closed, assigned to AustinCasteel

[2019-01-11 22:49] redragonx commented on #146
@gospodima Can you please try our latest dev branch, @aaronchantrill pushed a fix.

[2019-01-13 16:16] aaronchantrill commented on #96
So now the Yahoo! api has been retired:
Important EOL Notice: As of Thursday, Jan. 3, 2019, the YQL service at query.yahooapis.com will be retired. This will impact users of datatables.org as well as developers who creates features using this YQL service.
To continue using our free Yahoo Weather APIs, use https://weather-ydn-yql.media.yahoo.com/forecastrss. Follow instructions here to get credenti

[2019-01-13 18:52] aaronchantrill commented on #96
For WWIS, it looks like you just need these two calls:
https://worldweather.wmo.int/{lang}/json/Country_{lang}.xml
to find the closest city with a forecast, and
https://worldweather.wmo.int/{lang}/json/{cityId}_{lang}.xml
I'm not sure why the language is here twice.

Here is a simple implementation:
[code]

[2019-01-13 18:59] aaronchantrill commented on #96
We are currently in the middle of a government shutdown in the U.S., and the NOAA site is not currently functioning. It is just forwarding people to forecast.weather.gov for current weather information. Just FYI.

[2019-01-13 19:02] aaronchantrill commented on #96
As I am re-writing this, I will also incorporate issue #98 Move plugin specific settings into the plugin. This requires the user to drill down by country, region, and city to get to a forecast, so rather than replacing the zip code lookup code from populate.py, come up with a way of importing requested variables, whether they are required or not, and validation/generation process directly from the

[2019-01-14 08:57] gospodima commented on #146
Now it works. Thanks!

[2019-01-14 08:57] #146 closed, assigned to nobody

[2019-01-14 13:10] aaronchantrill commented on #146
Awesome. Glad to hear it.

[2019-01-18 00:48] Yamaha32088 opened #150 "projectnaomai.com is compromised currently."
The site certificate is invalid when going to https://projectnaomi.com/
I noticed that a couple of images and links are broken on the Github readme page as well. I can submit a pull request and correct the links, pointing them to the non HTTPS site or if you decide to update the certificate then nothing needs to change.

[2019-01-18 01:00] AustinCasteel commented on #150
If you look at the respective repos for the site and documentation, everything is correct. I can even direct you to the build page, however there was an issue with our registrar and the domains within the account were compromised. All the domains on the account now point to different servers, naomi included. The odd thing was that they cloned the website with a scrapper and then put it up on their

[2019-01-18 14:12] Yamaha32088 commented on #150
OK thanks for the heads up. I was hoping to get the pre-compiled version of Naomi for the raspberry pi so I can just flash the SD card. I joined the discord channel so I will reach out there for help. Thanks

[2019-01-18 20:48] TuxSeb commented on #144
This does need a milestone

[2019-01-18 20:50] TuxSeb commented on #124
@redragonx do you still working on it ?

[2019-01-19 22:03] aaronchantrill opened #152 "Deepspeech module structure has changed"
## Description
On version 0.4.1 of deepspeech, the line "from deepspeech.model
import Model" has changed to just "from deepspeech import Model"

## Expected Behavior
If you have deepspeech installed, it should be recognized and used

## Actual Behavior
You get the following error message:
ImportError: No module named 'deepspeech.model'

## Possible Fix
Make it so that if the first method fails, th

[2019-01-21 20:48] AustinCasteel commented on #150
For anyone that needs the site or documentation during the down time, you can use the [build site!](https://projectnaomi.netlify.com/)

[2019-01-27 13:28] aaronchantrill opened #158 "imp module is deprecated"
## Detailed Description

The imp module, which we are currently using in the naomi/pluginstore.py file for handling plugins is deprecated as of version 3.4 and will be removed from a future version of python. The imp module is also used by plugins/stt/snowboy-stt/snowboydetect.py which warns not to modify it directly since it was generated by SWIG.

## Context

This just means that at some point i

[2019-01-27 19:18] sbernhard opened #160 "FR: Snowboy stt"
Hi

Would it be possible to add snowboy stt? See https://github.com/jasperproject/jasper-client/pull/550

I would love to have a offline voice detection only and it looksike snowboy is one of the best.

Best regards
Bernhard

[2019-01-28 05:50] AustinCasteel commented on #150
The website is now backup and running. At the time of writing everything has been switched back over to it. However, the readme images are delayed showing up.

[2019-01-28 05:50] #150 closed, assigned to AustinCasteel

[2019-01-28 14:47] aaronchantrill commented on #160
Snowboy support was added in 2016 but since then nobody has picked up the ball to support it. Currently the snowboy plugin contains a precompiled binary shared object built for arm on the raspberry pi. The project needs to be updated, and someone needs to also update the documentation so the module can be applied to other platforms. I don't see the plugin listed in the documentation, probably beca

[2019-01-31 04:03] AustinCasteel commented on #152
[Associated PR #153](https://github.com/NaomiProject/Naomi/pull/153) approved and merged.

[2019-01-31 04:03] #152 closed, assigned to aaronchantrill

[2019-01-31 04:04] redragonx commented on #158
pr #159 closes this.

[2019-01-31 04:04] #158 closed, assigned to aaronchantrill

[2019-02-16 00:06] G10DRAS commented on #144
WebRTCVAD is fast enough on RPi2B. and fetchThreshold() is easy to replace with is_speech() of webrtcvad lib.

[2019-02-16 00:28] aaronchantrill commented on #144
@G10DRAS yes, incorporating WebRTCVAD was the primary motivator for this project. I completed that a couple of weeks ago, and have a pull request waiting. It appears to me that the primary motivation for having multiple threads constantly checking the audio stream for the wake word was because the response time was too slow when checking for the wake word chunk by chunk, especially if a network or

[2019-02-18 21:43] olest opened #162 "festival plugin not working with python 3.6.1"
## Description

The festival plugin gives the following error at startup:

  File "/home/user/src/Naomi/plugins/tts/festival-tts/festival.py", line 63, in get_voices
    '(mapcar (lambda (v) (print v)) (voice.list))')
  File "/home/user/src/Naomi/plugins/tts/festival-tts/festival.py", line 51, in execute_scheme_command
    in_f.write(command)
  File "/home/user/anaconda3/lib/python3.6/tempfile.py"

[2019-02-18 22:13] aaronchantrill commented on #162
Okay, pull request #163 pulled which should resolve this issue and get the festival plugin working under Python3.

[2019-02-18 22:13] #162 closed, assigned to olest

[2019-02-24 17:04] AustinCasteel commented on #144
PR has been merged. Can reopen issue or create a new one if topic comes up again.

[2019-02-24 17:04] #144 closed, assigned to aaronchantrill

[2019-03-06 22:01] aaronchantrill opened #164 "Remove comma from introduction"
## Description
When Naomi states its wakeword at the beginning of conversation.py, there is a comma between "My name is" and the wakeword, causing it to execute a dramatic pause while introducing itself.

## Expected Behavior
It should just say "My name is <wakeword>" without the pause

## Actual Behavior
It pauses, dramatically - "My name is ... <Wakeword>"

## Possible Fix
Just remove the comma

[2019-03-06 22:29] aaronchantrill commented on #139
Just found an additional error that occurs because of the naomi/testutils.py Test_VADPlugin class. This class is an interface to be subclassed by VAD plugins to make testing easier, unfortunately the methods get picked up and are run by the unittest discover method, resulting in the following error messages:

[code]

This probably isn't a brand new issue. I probably missed this originally just bec

[2019-03-16 21:46] olest opened #166 "google stt plugin is broken"
## Description

The google stt plugin is broken. I see two issues:

1) the plugin has not been updated to python3. As far as I can see, only the call to urllib.urlencode() needs updating.

2) more severely, the google speech API has changed and the API call as it is currently implemented return http status 400.

## Possible Fix
The documentation of the new google speech API is here: https://cloud.

[2019-03-18 14:53] aaronchantrill opened #167 "mpd.py module is not compatible with Python3"
## Description

If you install the mpd.py library for python3 directly via "pip3 install python-mpd", there is an incompatibility on line 399 where the line "except socket.error, err:" should be "except socket.error as err:". This is causing the mpdcontrol plugin to fail.

## Expected Behavior

The mpd.py module should load and the mpdcontrol plugin should load:
[code]

## Actual Behavior

[code]

[2019-03-18 17:55] redragonx commented on #167
I suggest we do 1 as it promotes development and improvements. Maybe do a PR?

2. would work but we would have to backport fixes later on. The team isn't big enough to do that yet.

[2019-03-24 23:30] aaronchantrill opened #169 "Last flite voice option being cut off"
## Description
As I recall, the flite -lv command used to return an extra element to the list, and I would list the voices by dropping the first two elements and the last element. The last element may have been a CR. It seems like the CR is no longer showing up, so now I am dropping the last voice in the list, which happens to be my personal favorite, "slt".

## Expected Behavior

It should list a

[2019-04-01 15:42] AustinCasteel commented on #164
Closing; issue fixed in [PR#168](https://github.com/NaomiProject/Naomi/pull/168). If issue arises again this can be reopened or a new issue can be made.

[2019-04-01 15:42] #164 closed, assigned to aaronchantrill

[2019-04-06 18:12] aaronchantrill opened #172 "Issue with shutdown plugin"
## Description

When you ask Naomi to shut down, there is an error caused by an outdated get_profile_var( call.

## Expected Behavior

Naomi should should just shut down:

[code]

## Actual Behavior

[code]

## Possible Fix

Just change the line
`name = profile.get_profile_var(self.profile,['first_name'],'')`
to
`name = profile.get_profile_var(['first_name'],'')`

## Steps to Reproduce

1. Install

[2019-04-06 18:32] aaronchantrill opened #173 "Naomi in local mode uses JASPER: as prompt"
## Description

You get to name your Naomi - so the prompt should be the name of your assistant.

## Expected Behavior
[code]

## Actual Behavior
[code]

## Possible Fix

It should be fairly east to import the naomi/profile module into naomi/local_mic.py and change the prompt from the hard-coded `"JASPER:"` to `"{}: ".format(profile.get_profile_var(["keyword"])`

## Steps to Reproduce

1. Install

[2019-04-06 18:52] #66 closed, assigned to nobody

[2019-04-11 18:19] sbernhard opened #177 "weather plugin broken because EOLF of yahoo service"
The weather speechhandler is broken because as of https://developer.yahoo.com/weather/ the weather API is EOL.

[2019-04-11 18:33] AustinCasteel commented on #177
We are well aware about the Yahoo EOL as well as the WeatherUnderground closure. They are being addressed in issues [#96](https://github.com/NaomiProject/Naomi/issues/96) & [#98](https://github.com/NaomiProject/Naomi/issues/98). They are in the works but only having around 1-4 active developers at any given time things have to be prioritized, so the core Naomi before plugins. That in mind it is in

[2019-04-11 18:54] AustinCasteel commented on #169
Closing since it was handled in [PR #171](https://github.com/NaomiProject/Naomi/pull/171)

[2019-04-11 18:54] #169 closed, assigned to aaronchantrill

[2019-04-11 20:35] sbernhard commented on #46
Is there already working on this feature? I would love to have this, too.

[2019-04-11 23:33] aaronchantrill commented on #32
I would like to expand on what @sbernhard did by making it so that it also will check for a Yes/No/True/False after the name of the plugin to determine whether the plugin should be loaded or not. If there is nothing after the name of the plugin, then for compatibility it will load.

This way we can add some code to the plugins search which checks to see if the plugin is listed in the speechhandler

[2019-04-12 01:39] redragonx commented on #46
@shbhrsaha I don't see any work yet. You can go ahead and start working on this. We can touch base later with @TuxSeb

Please join our Discord server when you can.

[2019-04-16 04:36] aaronchantrill opened #182 "Give plugin writers a hook for requesting user information"
## Detailed Description
Before we can really expect people to start building plugins for Naomi, we need to provide a consistent interface for plugin developers. One of the areas where we especially need effort is creating an API for gathering information from the user that is required for the plugin.

Currently, if a developer needs to gather some information from the user, they have two choices:

[2019-04-16 18:27] aaronchantrill commented on #182
I'm going to start by figuring out how to add the above structure and associated functions to the existing plugins and making sure I can extract the information from a populate.py program. Once I'm there, I will start working on a new, data driven version of populate.py. When that's done, I'll figure out how to check for unaddressed settings at each startup.

If anyone would like to start working

[2019-04-16 21:10] G10DRAS commented on #182
The other good thing to implement is , instead of plain text yaml config file use a database like sqlite3 to store profile or configuration and provide a browser based interface to insert/update/delete configuration row.

something like this
https://github.com/G10DRAS/RoboCop/blob/master/images/OpenHAB.jpg

ofc there will be login credintials required to do operation on db.

[2019-04-16 21:18] G10DRAS commented on #177
look in to OpenWeatherMap api. Relatively easy to implement.
https://github.com/G10DRAS/JasperModules/blob/master/client/modules/OpenWeatherMap.py

[2019-04-17 01:25] aaronchantrill commented on #182
Hey @G10DRAS thanks for responding. I don't see the advantage of switching the yaml hierarchical database structure to a relational database. The information just doesn't lend itself to tabular data, as far as I can see. There are, of course, other areas where it would make sense to use a relational database. I'm already using sqlite for storing training data, for example, but that is very tabular

[2019-04-20 05:31] G10DRAS commented on #182
Security is the main advantage. You can encrypt all your passwords, api keys and other sensitive information and store it in database.
Storing data in tabular format is not a big deal, you can store them with parent-child relationship.
Then it will be easy to Insert/update/delete data from database, either using a script or a web interface.

[2019-04-20 22:27] aaronchantrill commented on #182
I still don't understand how adding a relational database engine simplifies encryption of passwords, api keys, etc. Python has a pretty robust set of Crypto modules and generally encryption/decryption is handled a the application layer, not within the database. I agree that someone needs to fix the storage of secrets ([Email username and password in plaintext #16](https://github.com/NaomiProject/N

[2019-04-27 04:11] aaronchantrill commented on #167
I finally got around to figuring how to get mpd set up so I could test this from within Naomi. Looks like the python-mpd2 package is a direct replacement for the mpd library. It is still referenced as "import mpd" so the plugin doesn't have to change at all. It appears to me that all we need to do is update the python_requirements.txt file and change "python-mpd==0.3.0" to "python-mpd2".

[2019-05-12 03:30] aaronchantrill commented on #182
Resolved in Pull Request [#183 Replacement for Weather Plugin](https://github.com/NaomiProject/Naomi/pull/183). Still needs documentation, which I am working on.

[2019-05-12 03:30] #182 closed, assigned to aaronchantrill

[2019-05-12 03:57] aaronchantrill commented on #177
@G10DRAS sorry, somehow I missed your suggestion. That's certainly interesting and I like the fact that it uses a real API rather than scraping data that might change format at any time. I'm not so crazy about the fact that they are require a free subscription, which they use for email marketing and tracking purposes. I'm also not sure what the "open" in OpenWeatherMap refers to. We are working to

[2019-05-12 03:57] aaronchantrill commented on #177
Resolved in [PR#183 Replacement for weather plugin](https://github.com/NaomiProject/Naomi/pull/183)

[2019-05-12 03:57] #177 closed, assigned to aaronchantrill

[2019-05-12 04:00] aaronchantrill commented on #98
Resolved in [PR#183 Replacement for weather plugin](https://github.com/NaomiProject/Naomi/pull/183)

[2019-05-12 04:00] #98 closed, assigned to aaronchantrill

[2019-05-12 04:01] aaronchantrill commented on #96
Resolved in [PR#183 Replacement for weather plugin](https://github.com/NaomiProject/Naomi/pull/183)

[2019-05-12 04:01] #96 closed, assigned to aaronchantrill

[2019-05-12 04:09] aaronchantrill commented on #16
Something of a fix for saving passwords not in plain text was created as part of [PR#183 Replacement for weather plugin](https://github.com/NaomiProject/Naomi/pull/183). It's still not very secure, since any Naomi plugin can request the information using a built-in function call and any interested party with a little knowledge of Python could figure out how to decrypt it from the contents of the p

[2019-05-12 04:37] aaronchantrill commented on #48
Resolved in pull request [#181 Passive Listen](https://github.com/NaomiProject/Naomi/pull/181)

Needs a question in populate.py and documentation.

[2019-05-12 04:37] #48 closed, assigned to aaronchantrill

[2019-05-17 20:45] olest commented on #166
Hi @aaronchantrill , I saw that your pull requests to my fork addressed  the problems that you had mentioned. Thanks for doing that. I believe this ticket is now completed. If there is anything else missing, please let me know and I will look into it.

[2019-05-17 22:46] aaronchantrill commented on #166
Thanks for putting so much effort into this. I've been a little distracted for the last couple of days but look forward to merging these two pull requests. They are going to resolve a bunch of issues we have had for a while. I expect to have time to test everything and get it merged either later this evening or sometime tomorrow morning.

[2019-05-18 20:13] aaronchantrill commented on #166
Resolved with PR #184 Fixing google stt plugin and #185 Unit tests for google stt plugin, updated docs and credentials json

[2019-05-18 20:13] #166 closed, assigned to olest

[2019-05-18 20:38] aaronchantrill commented on #172
Resolved with PR #186 Bug fix for shutdown plugin

[2019-05-18 20:38] #172 closed, assigned to nobody

[2019-05-18 20:42] aaronchantrill commented on #67
We need to add the ability to specify passive, active and special mode speech to text engines separately. Also, right now plugin settings are only picked up for SpeechHandler plugins, but need to be expanded to the other speechhandler types (audioengine, stt, tts, vad)

[2019-05-21 11:16] aaronchantrill opened #188 "Problem with Alsa audio engine playing multiple streams"
## Description

The Alsa audio engine does not appear to support playing two different audio streams at the same time. If you have music playing and Naomi attempts to say something, you get the following error message:
[code]
Right now, this only shows up for me while using the MPD control plugin to play audio. I can only use the Alsa audio engine, so I don't know if this occurs when using the pya

[2019-05-25 02:46] aaronchantrill opened #190 "Non-UTF-8 locale's crash Naomi"
## Description

Users who set their default system locale to something that uses an ISO-8859-1 character set get a bunch of errors almost immediately:
[code]
This behavior is not currently documented, and the user gets no warning. A new user has no idea where to look for a solution, and may decide that Naomi is simply broken (especially after several hours of trying to follow instructions for inst

[2019-05-25 21:58] olest opened #191 "google tts plugin is broken"
The google text-to-speech plugin uses a version of the google speech api which is not longer supported.

## Description

## Expected Behavior
Google TTS plugin should work. :-)

## Actual Behavior
It is not found by the plugin manager due to the outdated import of "gtts".

## Possible Fix
Various changes required, but can mostly follow the code examples provided with the API.

## Steps to Reproduc

[2019-06-13 17:12] aaronchantrill commented on #188
Fixed in pull request #189, at least for the MPD control module. Right now this is accomplished by overriding the default mic.say() function with a custom function that pauses the music stream before attempting to speak, which works fine, but could certainly be improved.

[2019-06-13 17:12] #188 closed, assigned to aaronchantrill

[2019-06-13 17:13] aaronchantrill commented on #173
Fixed in pull request #189

[2019-06-13 17:13] #173 closed, assigned to aaronchantrill

[2019-06-13 17:17] aaronchantrill commented on #167
Fixed in PR #189 by removing python-mpd and adding python-mpd2 as requirement.

[2019-06-13 17:17] #167 closed, assigned to aaronchantrill

[2019-06-13 17:18] aaronchantrill commented on #94
Addressed in PR#189

[2019-06-13 17:18] #94 closed, assigned to aaronchantrill

[2019-06-21 18:11] aaronchantrill opened #194 "Create a repository for language model files"
## Detailed Description

I have been working on plugins for training Speech to Text engines. I think that by adapting the acoustic models to the actual speakers, that we will be able to achieve a much lower word error rate. I have adapted the english language model using about 150 samples and gotten pretty good results from it.

Unfortunately, the instructions for getting the required files are a

[2019-06-23 12:28] aaronchantrill opened #195 "One level deep settings interpreted as strings"
## Description

When defining a setting, you use the path to the setting as the index. For example, if your plugin creates a profile setting like this:
[code]
you would define it as:
[code]
Here ("email", "imap", "server") is clearly a tuple. However, if you define a setting that is only one level deep:
[code]
then the ("keyword") is interpreted as the string "keyword". When writing this setting b

[2019-06-26 01:18] aaronchantrill commented on #141
I've started working on this. I have changed around the plugins.csv file a bit to better match my vision, which I will submit soon.

One column I added was a commit. I want to have git download the plugin as it was when the developer submitted it. If the developer wants to change the plugin (release a new stable) they would have to resubmit the plugin which would have to be rechecked.

I also adde

[2019-06-26 01:54] aaronchantrill commented on #141
In case anyone is interested, my working copy of plugins.csv can be found here:
https://github.com/aaronchantrill/naomi-plugins/blob/master/plugins.csv

and I am pushing my work to the PluginRepository branch of my Naomi fork.
`git clone -b PluginRepository https://github.com/aaronchantrill/Naomi.git Naomi_PluginRepository`
if you want to check it out.

The output from --list-available-plugins loo

[2019-07-05 22:17] aaronchantrill commented on #191
Fixed with pull request #198

[2019-07-05 22:17] #191 closed, assigned to olest

[2019-07-05 22:18] aaronchantrill commented on #195
Fixed with PR #196

[2019-07-05 22:18] #195 closed, assigned to aaronchantrill

[2019-08-05 05:29] aaronchantrill commented on #194
Completed by creating the https://github.com/NaomiProject/CMUSphinx_standard_language_models repository on ProjectNaomi.

[2019-08-05 05:29] #194 closed, assigned to aaronchantrill

[2019-08-05 05:33] aaronchantrill commented on #103
I'm going to consider this complete since the basic framework exists now and I have created one STT Trainer plugin plus the ability to review your speech history.
Resolved by pull request [#196 NaomiSTTTrainer](https://github.com/NaomiProject/Naomi/pull/196)

[2019-08-05 05:33] #103 closed, assigned to aaronchantrill

[2019-08-05 05:39] aaronchantrill commented on #141
This is almost done. Now that @AustinCasteel has merged my pr for the plugins.csv file, I need to change the default repository to point to it instead of my own. The only other thing I want to do is make it so I can set an alternate location or locations to use in profile.yml.

[2019-08-05 05:47] aaronchantrill commented on #32
When loading a plugin for the first time, it is added to profile.yml as
[code]
This makes it very easy to disable specific plugins if you need to.

This change was added in [#199 Naomi Plugin Repository](https://github.com/NaomiProject/Naomi/pull/199)

[2019-08-05 05:47] #32 closed, assigned to aaronchantrill

[2019-08-06 20:08] aaronchantrill commented on #141
Completed with pull request [#201 Fixed URLs](https://github.com/NaomiProject/Naomi/pull/201)

[2019-08-06 20:08] #141 closed, assigned to aaronchantrill

[2019-08-18 23:53] aaronchantrill opened #204 "split say() into asynchronous stream"
## Detailed Description

Right now, the request/response order is synchronous. You ask Naomi (mic.listen()), Naomi responds (mic.say()) and then Naomi goes back to listening. I want to split the mic output methods (say, play_file) into separate processes so they can be interrupted.

## Context

This will allow me to ask Naomi to stop or change tasks while it is in the process of providing a respon

[2019-08-19 03:55] aaronchantrill opened #205 "Add standard TOR connection to services"
## Detailed Description

I'd like to somehow add TOR capabilities to internet connections used by Naomi. The biggest advantage that Naomi can offer users right now is increased privacy due to having the server in your home where only you have access to it rather than in the cloud where your habits and interests can be collated and analyzed.

Since most requests can either be handled locally ("Naom

[2019-08-20 23:12] aaronchantrill commented on #204
I am currently working on this. I created an asynchronous "say()" method and a "stop" speechhandler plugin. This works, but it causes Naomi to talk over itself. For instance, when reading the news, Naomi says "pulling up the news" to let you know it is requesting the news stories and possibly waiting on a slow internet connection, then it starts reading the news stories as soon as they arrive. Thi

[2019-08-22 11:30] aaronchantrill commented on #204
I was able to fix the problem of Naomi interrupting itself by creating a global queue into which things to say are put. This allows me to terminate a thread without affecting shared resources and also allow Naomi to decide to say something while already saying something else.

[2019-08-24 22:51] aaronchantrill commented on #139
Merged

[2019-08-24 22:51] #139 closed, assigned to aaronchantrill

[2019-08-24 23:08] aaronchantrill opened #206 "Better visualization for VAD"
## Detailed Description

It is currently very difficult to tell why and when Naomi is listening, especially when first starting up and getting the volume levels worked out. This can be very confusing until you get used to it. I would like to provide some feedback that lets the user know when Naomi is listening. This hopefully will allow us to get Naomi listening better.

## Context

I have had tro

[2019-08-26 20:36] aaronchantrill commented on #206
Merged and completed.

[2019-08-26 20:36] #206 closed, assigned to aaronchantrill

[2019-08-27 16:39] aaronchantrill commented on #67
I am having a strange situation right now where somehow on my Buster install I have an incomplete profile.yml that is causing Naomi to crash with
[code]
so somehow I managed to create a profile without specifying an output device. I think this is because it saves a copy of the profile.yml immediately after setting the language at this point, so exiting the application after starting but not finish

[2019-09-04 00:39] aaronchantrill commented on #204
Finished via 208. Naomi does now have an annoying habit of listening to everything you say while it is talking and responding to each in turn. Normally, this is me trying to get Naomi to stop, with a string of "I'm sorry, I didn't get that...Could you repeat that?...Can you say that again?..." as it responds to each request in turn. It may make sense to make Naomi use mic.stop() as soon as it reco

[2019-09-04 00:39] #204 closed, assigned to aaronchantrill

[2019-09-05 03:35] aaronchantrill opened #209 "SNR_VAD Visualizer does not work with negative SNR's"
## Description

Some soundcards apparently can return a negative volume. When this occurs, the visualization line grows rather than stays at the size of the terminal window. Also, the median and threshold markers may appear in the wrong places

## Expected Behavior

The visualization should remain a constant length, the size of the terminal window

## Possible Fix

Set a volume range from the mini

[2019-09-07 23:27] aaronchantrill commented on #67
Okay, I figured out what is causing the crash. Basically, each time I am running the pluginstore.detect_plugins() function, if there are any new plugins then I am saving that list to the profile. I can fix this by setting a profile arg for "save profile" set to false at the beginning of application.init() and then check it at the end (or at least after populate runs) to see if I need to save it. T

[2019-09-08 00:11] aaronchantrill commented on #67
By the way, a while back I added some code for playing a test phrase if the user selected a flite voice. I'd love to see that expanded to all voices if anyone has time to work on that.

[2019-09-15 20:37] aaronchantrill opened #211 "speechhandler shutdown plugin does not clean up"
## Description

The way the shutdown plugin currently works is to send a standard SIGTERM signal to all of the processes with "Naomi.py" in the command line. Unfortunately, objects created with a destructor do not get the destructor called when you send a SIGTERM to python, which is odd, but confirmed in a number of places (my understanding of SIGTERM was that it should give your program a chance

[2019-09-17 20:24] aaronchantrill opened #212 "Naomi listens to itself"
## Description

This is an issue having to do with the new asynchronous mic.say_thread() method. Now that Naomi can talk and listen at the same time, Naomi can trigger itself by saying its own wakeword. For instance, this is what it looks like when Naomi first starts up now:
[code]
So it is hearing "Naomi" and recognizing the wake word using the keyword vocabulary, then totally borking the "How ca

[2019-09-24 23:19] aaronchantrill commented on #47
I had made some changes to Brain and removed the "from notifier import Notifier" because it seemed vestigial. I see what it is doing now and have restored the comments.

It is basically just setting up a job that runs every 30 seconds and loops through an array containing a list of methods and/or functions which check for and handle incoming messages. As currently written, all it does is announce

[2019-09-25 03:08] #209 closed, assigned to aaronchantrill

[2019-09-27 03:45] aaronchantrill commented on #43
I've been looking a lot lately at how to best represent intents. The Naomi system of intent parsing is currently using two different standard functions in each speechhandler plugin. First, Naomi loops through all the speechhandler plugins, starting with the highest priority (most speechhandlers use the default priority of 0, which causes them to be queried in a somewhat random but consistent order

[2019-10-04 01:50] #211 closed, assigned to aaronchantrill

[2019-10-04 02:37] aaronchantrill commented on #16
I'm working on some higher level interfaces in naomi/app_utils.py for interacting with email/text messaging. My goal would be to make that flexible enough that plugin developers don't have to mess directly with email usernames and passwords anymore, then make it so the decrypted password and some other personal profile data will no longer be returned to any module that is outside the naomi directo

[2019-10-04 02:38] aaronchantrill commented on #16
Of course, other good ideas for allowing me to feel good about trusting Naomi with my email password would be happily considered.

[2019-10-04 19:36] aaronchantrill opened #214 "Fix output from update_translations.py"
## Detailed Description

Naomi uses gettext to provide translations into other languages. We use the update_translations.py script to extract raw strings from naomi core and core plugins and update the locale folders with <language>.pot files, then merge them with the existing .po files. Unfortunately, this introduces a lot of duplicates and errors into the resulting .po file. What would be good w

[2019-10-07 01:31] aaronchantrill opened #215 "Script a "Yes/No" verbal interface"
## Detailed Description

Naomi ends up asking quite a few yes/no questions when trying to determine intents. These don't have a special mode associated with them. It would be good to train a special vocabulary to recognize 'YES' and 'NO' (or their equivalents in the user's selected language). Right now, if Naomi does not see 'YES' in the response, it assumes 'NO', which is often not correct.

## C

[2019-10-13 07:15] TSRBerry commented on #16
How do you feel about this:

From:
https://security.stackexchange.com/questions/79717/store-password-locally-where-how-to-pass-it-securely

Is this a good idea to make Naomi more secure? Since there is no way that an attacker could not reverse Naomi to get the encryption mechanism, I feel like attaching things to the Hardware could be a good idea.

[2019-10-14 00:19] aaronchantrill commented on #16
@jeliebig As I understand what you are saying, it means using some bits of information from the computer itself as part of a salt. So the salt that you pass to your algorithm is a hash of OSName + MAC Address + random salt or something. Store the random salt in the profile (or a separate file), then assemble the full salt when needed. That does sound like an excellent idea, since an attacker would

[2019-10-14 20:10] AustinCasteel commented on #124
Closing since [PR #217](https://github.com/NaomiProject/Naomi/pull/217) integrated the enhancement request. Thanks for the contribution!

[2019-10-14 20:10] #124 closed, assigned to nobody

[2019-10-15 07:15] TSRBerry commented on #160
I want to work on this, but it seems like it is already implemented as a stt plugin. What is the issue here?
Is it outdated and it needs to be updated or is it just about the doc for other OS?

Snowboy seems to do a really good job at recording a keyword and then detecting it, so no internet connection is required and the user trains the predownloaded model from https://snowboy.kitt.ai to recogniz

[2019-10-15 07:28] TSRBerry commented on #160
Okay I read a bit more on snowboy and it seems like the devs are inactive and issues won't get any answers. I think we can still update the current version of it but since this version is already outdated we can't expect any updates or improvements in the future.

[2019-10-15 14:30] aaronchantrill commented on #160
I think the issue is basically just that the plugin is undocumented. I imagine that is because it doesn't currently work, but I don't know because I've never tried it. I know there is a binary file in there that is pre-compiled for raspberry pi. It would be good to try to locate and link to the source code or official download page for this file so users can use this plugin on other platforms.

If

[2019-10-18 15:02] aaronchantrill opened #218 "Support for WebRTC"
## Detailed Description

I would like to be able to pull up a web interface, running on the Naomi server, that I could talk to and have Naomi respond verbally over the interface. WebRTC technology is an open source method of communicating via the internet. There are currently a lot of WebRTC demos out there, but most demonstrate using a server to allow two clients to communicate directly with each

[2019-10-20 21:11] aaronchantrill opened #219 "Add support for PulseAudio as an audio engine"
## Detailed Description

The libpulse-dev package is required when installing the pocketsphinx pipy package via pip, which looks for pulseaudio.h. In my opinion, we should take this as a sign that we should write a pulseaudio_ae audioengine plugin.

## Context

This seems to be the direction we are moving right now, and it may solve some problems for us. PortAudio has serious problems with accessi

[2019-10-21 08:03] TSRBerry commented on #16
Good point with the OS version. No, I don't have specific things in mind on how to salt it correctly, but I imagine it would be fine to implement the approach from my post above and slightly modify it.
I will try to implement it and then send a PR to test. (probably takes some time for me tho)

[2019-10-21 12:50] aaronchantrill commented on #16
@jeliebig that sounds fantastic. Thank you.

[2019-10-24 13:15] aaronchantrill opened #223 "Add gettext support to is_positive and is_negative in naomi/app_utils.py"
## Detailed Description

Right now the app_utils.is_positive() and app_utils.is_negative() methods use string literals to determine whether a phrase is positive or negative. Since people don't use the same words and terms to indicate positive or negative in French or German, this should be a gettext() string. This just requires adding i18n to app_utils and translating the string.

## Context

Righ

[2019-10-24 13:28] aaronchantrill opened #224 "Translation files need to be updated"
## Description

The French and German translation files have not been updated in a while and need to be updated now.

## Expected Behavior

Naomi should translate all string literals in the interface to French and German.

## Actual Behavior

A lot of strings in the interface right now have not been translated, so come out in English instead of the user's selected language.

## Possible Fix

Enoug

[2019-10-24 13:47] aaronchantrill opened #225 "Automatic language configuration for Pocketspinx"
## Detailed Description

We have been talking a lot about making the configuration of pocketsphinx simpler. Specifically, the terms "hmm_dir" and "fst model" are fairly meaningless to people, and if Naomi can't locate the files automatically, or the fst_model has not been generated as with the written instructions, then people are pretty lost.

## Context

This change would make it much easier to

[2019-10-24 14:03] aaronchantrill commented on #16
I have organized all of the modules that use profile.get_profile_password() into naomi/app_utils.py. These are also used during configuration by by both 'naomi/commandline.py' and 'naomi/application.py'. I'd like to limit the ability to request decrypted information from the profile to files in the naomi/ directory. I think this can be accomplished using inspect
`filename, line_number, clsname, li

[2019-10-24 18:45] fatkaratekid commented on #223
I'm on it

[2019-10-24 21:09] aaronchantrill commented on #223
Thank you!

[2019-10-25 02:30] aaronchantrill commented on #223
Let me know if you need any help.

[2019-10-25 15:58] fatkaratekid commented on #223
You can checkout the pull request [draft](https://github.com/NaomiProject/Naomi/pull/226).
To be honest, I had some difficulties getting it to run, so I skipped the things I didn't need when creating the profile. All tests have passed.

[2019-11-03 02:28] aaronchantrill opened #229 "Naomi becomes hard of hearing"
## Detailed Description

I have noticed that when Naomi first starts, using the default SNR-VAD Voice Activity Detector, Naomi is very eager to listen. However, after a few hours, it becomes more and more difficult to activate.

## Context

Something about the SNR-VAD system is setting the threshold out of reach after a certain amount of time. I'd like Naomi to continue to respond to more or less

[2019-11-04 19:32] aaronchantrill commented on #16
After discussing with @redragonx on Discord, I feel like it is time to close this issue. At this point, neither the username nor password are stored in plain text on the user's machine, so casual snoopers (which I think was the original issue) can't find your password. We have restricted access to the decryption function to a few core Naomi modules, meaning that a module can no longer request your

[2019-11-04 19:32] #16 closed, assigned to nobody

[2019-12-28 05:10] aaronchantrill opened #232 "Paths are not right when pocketsphinx_train is installed from a package"
## Description

The pocketsphinx_adapt STTTrainer module only currently looks for programs bw, mllr_solve, map_adapt, and mk_s2sendump in /usr/local/libexec/sphinxtrain which is where they are put when you build pocketsphinx from source, but if you install sphinxtrain using apt, then they are located in /usr/lib/sphinxtrain instead. This patch checks both locations and uses whichever it finds firs

[2020-01-28 09:25] #232 closed, assigned to nobody

[2020-01-28 09:38] aaronchantrill opened #235 "Naomi crashes if email is not set up"
## Description

If the email module is not set up, Naomi still attempts to connect to the email server and then crashes with the following error message:
[code]

## Expected Behavior

If email is not set up, Naomi should go ahead and start.

## Actual Behavior

## Possible Fix

Check for email username, password, and server, and if any of those don't have values, then don't bother trying to connec

[2020-01-28 11:36] #235 closed, assigned to aaronchantrill

[2020-02-03 23:13] aaronchantrill opened #237 "Pulse input audio device hangs on close"
## Description

When you use the "pulse" device as input, the close() command in open_stream() just hangs. This is apparently due to the fact that the "pulse" device wants to drain the stream before closing, but because the microphone is always providing input, the draining process never completes.

Supposedly calling pause() before close() should help. See https://github.com/larsimmisch/pyalsaaud

[2020-03-11 07:15] aaronchantrill opened #240 "Capture returned intent and score to audiolog database"
## Detailed Description

I want to capture both the returned intent and the score of that intent into the audiolog database (if the user has the save_active_audio option enabled) and give the NaomiSTTTrainer.py user the ability to either verify that Naomi got the correct intent or select which intent they were expecting if not.

## Context

This will allow users to score how well Naomi is doing at

[2020-03-11 07:45] aaronchantrill opened #241 "Add a third level of audio processing based on intent"
## Detailed Description

Most intents require only a limited set of words, but some should allow open-ended input. For example, asking for the weather can be limited to days, times, and weather conditions, and possibly a list of locations. But in order to identify the intent as a weather intent probably only requires the user to use the word "weather" or the word "forecast" or a weather condition,

[2020-03-11 07:50] aaronchantrill commented on #212
I have tried using the pulseaudio module-echo-cancel, but it seems to be more about noise cancellation than echo cancellation. I'll keep playing with it, but in the meantime I will modify Naomi to block listening while talking by default and provide an option to allow listening while talking which can be switched on by user either on the command line or in the yaml settings.

[2020-03-11 07:54] aaronchantrill commented on #212
I have been having this issue with the Google AIY Voice kit, which I have been using by default for a while now. The device that worked well for me was a cheap little conference phone usb device and also a cheap little external usb sound card with 3.5mm input and output jacks. Neither of them were hearing themselves, and were quite capable of reacting to "Naomi, stop". The conference phone makes s

[2020-03-11 08:04] aaronchantrill opened #242 "Provide support for Kaldi on device"
## Detailed Description

Kaldi is really a toolkit for ASR researchers, not a finished STT engine. Therefore it is considered difficult to install. However, as an ASR development toolkit, there are a lot of tools for training acoustic models, building dictionaries and language models, etc. which should allow the STT processing to be customized for the user. Working with this toolkit should also be

[2020-03-11 08:10] aaronchantrill commented on #237
I am no longer having this issue, and in fact am now able to use the pulse device just fine for both input and output on the Google AIY Voice hat, which makes me very happy because now Naomi no longer crashes while trying to talk if I am playing music with the MPDControl plugin.

[2020-03-11 08:11] #237 closed, assigned to nobody

[2020-03-11 09:59] aaronchantrill opened #243 "Alter Naomi TTI plugin to match at the phoneme level rather than at the transcription level"
## Detailed Description

English homonyms can present a major issue for Naomi. Say you have a weather plugin that reacts strongly to the keyword "weather", but you also have an email account with an intent "check whether I have any new emails". With the current state of language models, Naomi is quite likely to match the wrong "weather/whether" in this case. Or in the sentence "set the level to tw

[2020-03-16 04:30] aaronchantrill commented on #43
One concrete issue that NLTK would be able to handle easily enough is standardizing contractions in english (converting "WHAT'S" to "WHAT IS") in both templates and queries.

Another place would be "stem"ing words in english - so the templates "DO I HAVE ANY EMAILS" and "CHECK MY EMAIL" would both be recognized to contain the word "EMAIL", or "WILL IT RAIN TODAY" and "IS IT RAINING IN PARIS" would

[2020-03-19 08:09] #240 closed, assigned to aaronchantrill

[2020-03-24 05:24] aaronchantrill opened #244 "Naomi crashes with "FileNotFoundError" exception on first run"
## Description

When running Naomi the first time, before the profile was created, I was getting a "FileNotFoundError" exception when Naomi tried to read in settings from the profile.yml file.

## Expected Behavior

This exception should be caught and just generate an empty _profile variable for Naomi to start populating.

## Steps to Reproduce

1. Install Naomi
2. run Naomi.py
3. receive error me

[2020-03-25 03:18] aaronchantrill opened #246 "Split intents into languages"
## Detailed Description

The way intents currently work, you define keywords and intents in english, then use gettext to translate those intents into other languages. This is not realistic for a couple of reasons.

First, it assumes that there are either the same or less ways of saying something in any language the intent is being translated into. For instance, if I have an intent like this:
[code

[2020-03-29 09:59] #244 closed, assigned to aaronchantrill

[2020-03-30 22:09] #225 closed, assigned to aaronchantrill

[2020-03-30 22:10] #246 closed, assigned to aaronchantrill

[2020-04-04 20:16] aaronchantrill opened #250 "Clean up Application.py"
## Detailed Description

Application.py is one of the first bits of software you might run into as a potential developer, and I have unfortunately expanded it way beyond its original purpose of just starting up the main application.

## Context

It would benefit me by having a less complex and easier to read application.py file for when changes need to be made at that level.

## Possible Implement

[2020-04-11 21:51] #223 closed, assigned to fatkaratekid

[2020-04-13 06:08] aaronchantrill opened #254 "wwis weather won't accept an empty string for country"
## Description

Every option in Naomi's setup process should accept an empty string for a response, if you do not want to set that option.

## Expected Behavior

The user should be able to just press "Enter" at the "Country?" question to not answer with a country. At this point, the wwis_weather app should accept that the user does not want to share their address information and simply not try to

[2020-04-14 22:29] aaronchantrill opened #256 "Feedback during audio configuration"
## Detailed Description

When first setting up Naomi, Naomi tests your sound configuration by playing a beep to make sure the output is set up correctly, then recording some audio and playing it back to make sure the input is working. The idea was to allow the user to select different devices and see if they work.

While that is working as intended, the most common reason for failure at this point

[2020-04-14 23:00] aaronchantrill opened #257 "Remember choices during repopulate"
## Detailed Description

Several of the questions asked in the populate process are binary questions that do not seem to remember what choices the user has made in the past. These include "Beep or Voice", "Turn on passive listening" or "Turn on print transcript".

## Context

I'd like Naomi to remember my choices. I would also like to be able to set defaults for these values for new users to selec

[2020-04-15 00:57] aaronchantrill opened #258 "Pyaudio crashes if format not supported"
## Description

During the initial configuration/system testing of Naomi, if you select pyaudio for the audio engine and then a microphone that does not support the 16MHz, 16bit, single channel that Naomi records in, Naomi will crash with this error message while recording your audio:
[code]

## Expected Behavior

The user should get an error message saying that the format is not supported, but th

[2020-04-16 02:11] Mechaniquake opened #259 "PluginError: Naomi TTI"
Naomi cannot initialize "Naomi TTI" from plugins

## Description
When initializing Naomi (Milestone 3.0M16) with "python3 Naomi.py" the initial setup runs up to the e-mail notification settings and then this error occurs:

Traceback (most recent call last):
  File "Naomi.py", line 9, in <module>
    naomi.main()
  File "/home/pi/Naomi/naomi/__main__.py", line 198, in main
    save_noise=p_args.sav

[2020-04-16 03:21] fracpete opened #260 "naomi-setup.sh fails to set up virtual environment on RPi2B"
`naomi-setup.sh` (Naomi-3.0.M16) fails to set up virtual environment on a RPi2B as user `pi`.

## Description
On a RPi2B based on `2020-02-13-raspbian-buster-lite.img`, the install script `naomi-setup.sh` fails to find an `activate` script in the virtual environment it created. However, there is such a script in the `/home/pi/.virtualenvs/Naomi/bin` directory.

Full output of `naomi-setup.sh`:

[c

[2020-04-16 03:52] AustinCasteel commented on #260
First off thank you for trying Naomi and I would like to apologize for this issue. We recently stumbled across it and actually have a [PR](https://github.com/NaomiProject/Naomi/pull/253) dealing with said issue along with some other changes and fixes. Let me verify the PR is good to go and runs properly then I will merge in the changes.

[2020-04-16 07:45] aaronchantrill commented on #260
Peter, so glad to see you. Thank you for checking out our project.

That is a strange error that we have been trying to deal with for the last couple of days. The problem seems to be the latest version of virtualenvwrapper. If you can uninstall virtualenvwrapper, then "pip install --user virtualenv virtualenvwrapper==4.8.4" that should get virtualenvwrapper up and running again. Alternatively, you

[2020-04-16 07:57] aaronchantrill commented on #259
Thanks for checking out our project! Sorry this isn't working.

Generally if you get an error like this, it is because there is some sort of an error when a plugin is being loaded in. You should not have to set "plugin_directory".

Naomi_TTI is pure python, so the only reason I can think of why it might be crashing is because of a missing python module, and that is usually pretty straightforward t

[2020-04-16 08:12] aaronchantrill commented on #259
If you installed Naomi with option 2, that means that pip would have installed the required libraries to the custom version of python, so rather than `$ python3 naomi.py` you would have to either run `$ ./Naomi` which is a shell script that should start the appropriate python, or you have to find that python version and run it (`$ ~/.config/naomi/local/bin/python Naomi.py`)

Usually if you are run

[2020-04-17 00:47] Mechaniquake commented on #259
It did seem like there was a conflict between the naomi locally installed python3.5 and my current python3.7. I went through the debug log (which occurred as you described) and installed missing py packages like jiwer.
I ran Naomi as ./Naomi and got an import error: Pocketsphinx not installed
(I then opted to reinstall and run Naomi setup under option 1, which caused less issues but the same error

[2020-04-17 00:54] Mechaniquake commented on #259
pip3 install pympd
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Collecting pympd
Using cached https://files.pythonhosted.org/packages/7d/9b/d22e654f6fb6ae38ccb6517e734db94b5fb502fbef64b9be5d5d358efa47/pympd-1.2.tar.gz
Complete output from command python setup.py egg_info:
Traceback (most recent call last):
File "", line 1, in
File "/tmp/pip-install-o4a5h7i8/pympd/se

[2020-04-17 23:57] fracpete commented on #260
I can confirm that the installation was successful. However, with all the compilation going on, it took 8+ hours on my RPi2B running off an SDCard. Is all that compilation intended?

In terms of requirements: if you want reproducible builds, using specific versions for libraries is a must. I recently had a problem with opencv-python regularly where the 4.2.x version resulted in `double free or cor

[2020-04-18 11:01] aaronchantrill commented on #260
With the installation successful, were you able to populate the profile and get a response to a simple query like "Naomi, what time is it?"

I'll fix the libraries at the version I currently have running, and just try to keep them up to date. The problem I've had is that some people are still running Raspbian Stretch or even Jessie, and the python libraries that work with 3.7 may not work with 3.5

[2020-04-18 11:26] aaronchantrill commented on #259
I think you'll have better luck with `pip3 install python-mpd2`, we switched to python-mpd2 a while back because there was a bit of python2 code in python-mpd that would not run on python3.

There is a requirements file that should be used for installing the python requirements as `pip3 install --user -r python_requirements.txt` which should save you some trouble tracking down the correct plugins.

[2020-04-18 21:02] aaronchantrill commented on #260
Seems like what pip really needs is a way to select the latest version of a module based on the version of python it is being installed to, or at least a way to specify version information based on python version in the requirements file. Usually people go to great lengths to keep the API consistent between releases, so I wouldn't expect to have to worry about re-writing the calls to a module betw

[2020-04-24 20:33] aaronchantrill opened #261 "Plugins with spaces in the name can't be installed"
## Description

So, I'm sure this used to work and I had tested, but suddenly it seems to no longer work, which is odd. I have tried both argparse 1.1 and argparse 1.4.0 and both are having the same behavior, which makes me think something has changed in the shell

## Expected Behavior

If you call Naomi with a list of plugins to install, you should be able to quote them to keep parameters that co

[2020-04-26 04:19] fracpete commented on #260
Sorry for the late reply, workload is a bit high at the moment and only found out just now that I need to have a USB microphone for RPi (arrives hopefully end of the week). Will report back once I have a full mic/speaker setup. Will also try to get DeepSpeech going, as the project has made significant progress in terms of speeding things up ([source](https://hacks.mozilla.org/2019/12/deepspeech-0-

[2020-04-26 21:47] aaronchantrill commented on #260
You need a usb microphone for the raspberry pi (the pi actually uses the microphone connector on the audio out to transmit a video signal, allowing you to use a cable popularized by the Zune player to output RCA type video. This is handy when using the sort of display that is used to add a rear-camera to a car as a Pi monitor, but a pain if you expect to be able to just plug in a headset and recor

[2020-04-26 22:17] aaronchantrill opened #262 "Sound effects should use the same audio format as TTS"
## Detailed Description

Flite produces audio output that is formatted as mono 16 bit little endian at 16MHz, and this appears to be the format generally preferred for both generating and recording audio. The beep_hi.wav and beep_lo.wav files which are used for testing the audio system and providing signals to the user are recorded in 16 bit little endian format, but at 44.1MHz stereo rather than

[2020-04-26 23:26] aaronchantrill opened #263 "If user does not supply email address, naomi should stop asking email questions"
## Description

When using populate to set up the email information, Naomi should stop asking for email details if the user declines to share their email address. This is to make the populate program run more quickly.

## Expected Behavior

If the user does not provide an email address, Naomi should just move on to the next set of settings:
[code]

## Actual Behavior

If the user does not provide

[2020-04-26 23:48] aaronchantrill opened #264 "When running Naomi with --repopulate flag, plugin is configured every time it is loaded"
## Description

A plugin can get loaded multiple times, and with the current way "repopulate" is written, it is forced to ask its settings questions every time it is loaded. This is especially evident with the default configuration using pocketsphinx for the passive, active and special speech to text engines. This causes pocketsphinx to request the names of the hmm directory, fst file and phonetis

[2020-04-27 23:18] fracpete opened #265 "Steps involved to add a new language?"
So far, I've only come across readily available language models etc for the various STT/TTS plugins.
My question is, what steps are necessary in order to add a completely new language, e.g., an indigenous one, to Naomi? Code and/or configuration changes? What would be necessary to use DeepSpeech in such a scenario (I presume some form of training on a new audio corpus)?

[2020-04-28 09:08] aaronchantrill commented on #265
Hey Peter. That's a good question. There is a sort of answer here: https://support.projectnaomi.com/forums/topic/where-to-start-developing-a-acoustic-model-for-esperanto-for-cmusphinx/ with regard to adding Esperanto specifically, although nobody has yet gone through the whole process of adding a whole new language.

As far as changes to the core naomi code, you would have to add your language as

[2020-04-30 04:34] fracpete commented on #265
Thanks for the detailed reply, I will have to mull over that a bit, as there is quite a bit of work involved. A possible use case would have been to add Maori as a language.
BTW What do you think of meta-STT and meta-TTS wrappers?
For example, you could take the output of your base STT and push that through Google translate (from Maori to English) to avoid having to update all your plugins for han

[2020-05-01 05:36] aaronchantrill commented on #265
I agree, it's a lot of work. I don't know that google translate could help all that much. My experience with google translate is that it works well enough to get the intent across, but rarely beyond pidgin level language.

My biggest concern is with regard to 3rd party speechhandler plugins. I'd like to have an easy way for someone to add a translation "pack" to some else's plugin consisting of a

[2020-05-03 13:47] aaronchantrill opened #267 "Ability to recognize users by voice"
## Detailed Description

Naomi should be able to respond differently to different users. If a family member asks "do I have any emails" it should not be necessary for Naomi to ask "who are you?" This would allow the user's voice to act as a sort of authorization. As part of the speech to text training, ultimately I would like to train a different acoustic model for each member of the family. Being

[2020-05-04 03:05] aaronchantrill commented on #265
@fracpete can you recommend what form you would like this project to take? Do you want some specific documentation around it? This is kind of a big question, and given that Naomi uses plugins, it's impossible to give a specific set of instructions that cover every use case. At the same time, there are some definite steps that would always have to be done that can be documented along with some vagu

[2020-05-04 04:42] fracpete commented on #265
[We](https://waikato-ufdl.github.io/) had a discussion around this today. For the time being, we will concentrate on getting a handle on STT (DeepSpeech) and TTS (MaryTTS), with building up a speech corpus as the first step. Once model performance is satisfactory, we will look into a tighter integration into Naomi.

[2020-05-04 22:10] aaronchantrill commented on #265
Wow, that's awesome. Definitely keep me informed.

What I have learned from working with Naomi, though, is that you don't need perfect recognition to get good comprehension at the intent level, especially if you are willing to accept a pretty simple model where only one intent is triggered at a time.

Adding some humorous responses can be a good strategy for generating some good will with users an

[2020-05-04 22:23] aaronchantrill opened #268 "Pocketsphinx Keyword Spotting plugins"
## Detailed Description

Currently we are using PocketSphinx for keyword spotting, but that is only by building a special vocabulary including a keyword and some additional words to try and prevent the keyword listener from detecting everything as the keyword. There is, however, a special keyword mode in PocketSphinx that can be fine tuned to do a much better job of filtering keywords: https://cmu

[2020-05-05 19:26] #261 closed, assigned to aaronchantrill

[2020-05-05 19:26] #263 closed, assigned to aaronchantrill

[2020-05-11 22:15] aaronchantrill opened #270 "STT Trainer plugin response"
## Detailed Description

Right now the pocketsphinx_adapt plugin returns results to NaomiSTTTrainer.py as HTML clips. I would like to change this so that the results are returned as a list of tuples, one tuple per command executed. This tuple would include a copy of the command executed, the output from that command, and a boolean variable indicating whether or not the command succeeded.

## Conte

[2020-05-12 01:49] aaronchantrill opened #271 "Add setting structure to profile structure"
## Detailed Description

Currently, as each plugin is loaded by Naomi, the program will check to see if all the settings for that plugin exist in Naomi. If any settings are missing from profile.yml, then Naomi will present the setting to the command line as a question before continuing. This is not good when Naomi is running headless, and prevents the use of an alternative front end for setting up

[2020-05-14 09:18] Mechaniquake commented on #259
I'd like to close this issue.
Option 2 is unlikely to work/ difficult to set up with clashing Python versions and updates happening at different times.

Option 1 with the virtual environment worked well. I want to spend time improving the phonetic library to recognize words and my accent. I use Svox TTS  and am also looking at how to adjust the voice.

I used the Raspberry Pi3 B+ running the lates

[2020-05-14 09:18] #259 closed, assigned to aaronchantrill

[2020-05-16 04:27] aaronchantrill commented on #259
Thanks for closing the issue but please keep in touch and definitely let us know if there is any way we can be helpful.

As you mention, we did a ton of code corrections following your report and would love some feedback. It should be much easier to install now using the naomi-setup.sh script as long as you are running on a Debian Buster or Stretch derivative. The install process should work fine

[2020-05-26 00:46] #47 closed, assigned to aaronchantrill

[2020-06-02 12:32] aaronchantrill commented on #46
Here are some thoughts I have about what I'd like to see in a RESTful API. These are just based on the sorts of things we are currently communicating to the terminal interface, so this just describes the minimum api that would allow the current functionality to shift from the command line to a web or desktop application interface.

The major functionalities right now are configuring user options a

[2020-06-24 02:34] aaronchantrill commented on #250
I think the two main things I want to do are to move the NPE stuff out of application.py into its own file and move the audiolog stuff out of mic.py and into its own file.

[2020-06-26 21:48] aaronchantrill opened #279 "Remove profile value passing"
## Detailed Description

There are a lot of places that expect the configuration to be passed in as a structure. Now that the configuration is stored in a public static module, it is no longer necessary to pass the values from module to module, but a lot of modules expect a copy of the config/profile to be passed in. This adds extra complexity to the code and confusion about the "proper" way to ac

[2020-06-28 12:20] aaronchantrill opened #280 "VOSK STT Engine"
## Detailed Description

VOSK ([https://alphacephei.com/vosk/](https://alphacephei.com/vosk/)) is a new open-source STT toolkit/engine built on Kaldi and which is optimized to run on Raspberry Pi. Building a language model is described here [https://alphacephei.com/vosk/adaptation.html](https://alphacephei.com/vosk/adaptation.html)

## Context

Learning to train and adapt the acoustic model, langu

[2020-07-12 02:58] weekly-digest[bot] opened #285 "Weekly Digest (5 July, 2020 - 12 July, 2020)"
Here's the **Weekly Digest** for [*NaomiProject/Naomi*](https://github.com/NaomiProject/Naomi):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #282 [Implementing Contribution Changes](https://github.com/NaomiProject/Naomi/pull/282), by [AustinCasteel](https://github.com/AustinCasteel)

 - - -
# PULL REQUESTS
Last week, 2 pull requests were created, updat

[2020-07-19 04:32] weekly-digest[bot] opened #286 "Weekly Digest (12 July, 2020 - 19 July, 2020)"
Here's the **Weekly Digest** for [*NaomiProject/Naomi*](https://github.com/NaomiProject/Naomi):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there was 1 commit.
:hammer_and_wrench: [Create pr_labels.yml](https://github.com/NaomiProject/Naomi/commit/adba93cc546bd76d722818090ce9e75

[2020-07-26 04:32] weekly-digest[bot] opened #287 "Weekly Digest (19 July, 2020 - 26 July, 2020)"
Here's the **Weekly Digest** for [*NaomiProject/Naomi*](https://github.com/NaomiProject/Naomi):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there was 1 stargazer.
:

[2020-07-26 15:31] aaronchantrill opened #288 "Add wav2letter++ support"
## Detailed Description

wav2letter++ is a very fast speech recognition engine. I don't know if it can currently run directly on a raspberry pi.

## Context

I want to compare different speech recognition engines on the same data.

## Possible Implementation

[2020-08-02 09:05] weekly-digest[bot] opened #289 "Weekly Digest (26 July, 2020 - 2 August, 2020)"
Here's the **Weekly Digest** for [*NaomiProject/Naomi*](https://github.com/NaomiProject/Naomi):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #288 [Add wav2letter++ support](https://github.com/NaomiProject/Naomi/issues/288), by [aaronchantrill](https://github.com/aaronchantrill)

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updat

[2020-08-09 09:05] weekly-digest[bot] opened #290 "Weekly Digest (2 August, 2020 - 9 August, 2020)"
Here's the **Weekly Digest** for [*NaomiProject/Naomi*](https://github.com/NaomiProject/Naomi):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there was 1 stargazer.
:

[2020-08-30 20:38] #260 closed, assigned to aaronchantrill

[2020-08-30 20:39] aaronchantrill commented on #260
Resolved by downgrading the version of virtualenvwrapper in pythonrequired.txt

[2020-09-22 13:06] aaronchantrill commented on #212
There are numerous solutions out there. Pulseaudio has "module-echo-cancel" which needs to be configured with an echo-cancelling engine like "webrtc-audio-processing", so it's not a simple setup and requires that the user be using pulseaudio.
https://arunraghavan.net/2016/05/improvements-to-pulseaudios-echo-cancellation/

Probably the best thing to "bake into" naomi would be https://github.com/voi

[2020-09-22 13:07] #285 closed, assigned to nobody

[2020-09-22 13:08] #286 closed, assigned to nobody

[2020-09-22 13:08] #287 closed, assigned to nobody

[2020-09-22 13:08] #289 closed, assigned to nobody

[2020-09-22 13:26] aaronchantrill commented on #257
This could be used to make several small hacktoberfest pull requests if handled one at a time. The solution should be the same or very similar in each case. The settings variable for the Naomi core is located in naomi/applications.py. The processing is in naomi/commandline.py. I think the problem is that the processing part is failing to set the default to either the default value or the profile v

[2020-09-22 13:37] aaronchantrill commented on #264
I would like a solution to this to also fix https://github.com/NaomiProject/Naomi/issues/271 by creating a structure in memory that includes the whole "settings" structure. This would be created at the point where the settings are first loaded.

This will then allow all the aspects of presenting and using a "setting" to be accessed from any front end interface via the web api while also knowing th

[2020-09-22 14:24] aaronchantrill commented on #264
Core settings are currently loaded in in the naomi/application.py module, and settings for individual plugins settings are handled in the naomi/plugins.py module as they are loaded.

[2020-09-22 14:44] aaronchantrill commented on #214
This was fixed in pull request #248 https://github.com/NaomiProject/Naomi/pull/248

[2020-09-22 14:44] #214 closed, assigned to nobody

[2020-09-22 14:53] aaronchantrill commented on #229
What we really want is for Naomi to be able to recognize a sudden jump in volume to "take notice" rather than setting a specific threshold which has to be adjusted up or down depending on the volume of the background noise. Naomi should stop paying attention and process the results if the volume drops suddenly or the volume level stays up for more than a few seconds.

The big problem with the curr

[2020-09-23 20:18] #290 closed, assigned to nobody

[2020-10-07 03:37] aaronchantrill opened #292 "Naomi_tti not matching correctly at end of line"
## Description

Austin is working on a new news plugin, which is exposing some issues with the current Naomi_TTI plugin.

The first problem is that it was unable to match a non-keyword tag at the end of a template.

For example:
[code]
would match "SEARCH FOR CATS ON GOOGLE" with:
[code]

## Expected Behavior

The engine should return the matches:
[code]

## Actual Behavior

It does not match the

[2020-10-07 16:01] aaronchantrill opened #294 "Improvements to Naomi's conversation engine"
## Detailed Description

Right now Naomi has what I have classified as four different modes for listening:
* passive mode - listening for wake word
* active mode - listening for words to be able to identify the user's intent
* special mode - listening for for a different set of words to determine the user's intent within a specific speechhandler (mpd control, frotz)
* waiting mode - listening for

[2020-10-09 17:28] aaronchantrill opened #295 "Joke plugin gets overridden"
## Description

Austin has added a couple of new joke plugins - "Dad Jokes" and "Chuck Norris Jokes". While troubleshooting another issue, I discovered an interesting effect, that requesting "Tell me a joke" activates the the "Dad Joke" plugin rather than the "Joke" plugin. I think this is because in the case of "Joke" there are three similar templates and a dissimilar template but in the "Dad Jok

[2020-10-12 02:48] AustinCasteel commented on #295
Fixed with PR #296

[2020-10-12 02:48] #295 closed, assigned to nobody

[2020-10-12 02:51] #292 closed, assigned to aaronchantrill

[2020-10-29 20:52] aaronchantrill commented on #294
I'm going to have to do some serious re-wiring to make this work.

The main thing I have learned from working on this project, is the more you can extrapolate about what Naomi should be hearing, the easier it is to get it to hear that thing. This is a huge advantage for players like Google who are very aware of how humans tend to string words together and what sorts of ideas are currently in the z

[2020-10-31 16:08] aaronchantrill opened #299 "Better support for Mozilla Deepspeech/STT"
## Detailed Description

We have really made a lot of progress at making it easy for users to install and configure Pocketsphinx. While it is easy to install deepspeech with a simple pip install, it requires the user to manually download and configure the appropriate acoustic and language models for the version installed by pip. In addition, we have always been using the default language model, wh

[2020-11-07 14:18] aaronchantrill opened #303 "Standard functions with progress bars for downloads"
## Description

As we attempt to make Naomi easier for people to set up, we need to download large files more and more often. These include binary executables and neural network models, git source repositories and python libraries. Right now if we have to download a large file, the best we can do is say what we are doing and then leave the user waiting. It would be helpful to have some standard fu

[2020-11-12 21:45] aaronchantrill commented on #294
I'm back to this project again. I have been looking into the compile_vocabulary methods and realize that you actually end up with a different object for each vocabulary. Each object contains both an acoustic model and language model.

A vocabulary is, in the case of DeepSpeech, basically a language model.

I think we need to separate the language model from the plugin itself, and just pass in a re

[2020-11-20 15:02] #229 closed, assigned to nobody

[2020-11-20 19:21] #299 closed, assigned to nobody

[2020-11-27 15:27] aaronchantrill commented on #267
I'm looking at using this project for an initial test: https://github.com/Suhee05/Text-Independent-Speaker-Verification

I already have had the NaomiSTTTrainer.py allowing you to enter a name for a while, so I have a database with a bunch of recordings labeled with my own name and just a few with other people's names. It would be interesting to see how many recordings are needed to differentiate b

[2020-12-01 01:49] aaronchantrill opened #306 "Problems with Padatious"
## Description

The Padatious TTI plugin is returning wildly incorrect results right now.

## Expected Behavior

Saying "Naomi, play music" should result in Naomi starting the music mode, not Naomi shutting down.

## Actual Behavior

Naomi seems to react randomly and sometimes even return a completely empty result.

## Possible Fix

I'm going to convert my [Intent_parser_tests](https://github.com/

[2020-12-01 16:47] aaronchantrill commented on #306
Actually, it looks like this is because of some changes to the Padatious engine itself. It appears that the Mycroft folk have made it more precise, which is causing a lot of my requests to fail.

I am expecting fuzzy matches to work since STT is so imprecise, and because it is difficult for a plugin author to anticipate every way the user may activate the plugin.

It appears that including the wak

[2020-12-02 19:27] aaronchantrill commented on #306
I checked a bunch of versions. The best is probably version 0.4.5 which was able to identify the correct intent in all but the most extreme cases (it categorized "PLAY THE WHO" as GameIntent and "WHAT'S HAPPENING TOMORROW" as WeatherIntent, both of which are pretty understandable) but still failed to pick up on keyword substitution a lot of the time, unless the wording exactly matches the template

[2021-01-04 21:53] aaronchantrill opened #308 "Buffer Underrun errors"
## Description

After the latest Raspbian Buster update on my Raspberry Pi 4, I
am getting the following error message:

ALSA lib pcm.c:8424:(snd_pcm_recover) underrun occurred

This is causing Naomi to make raspberry noises instead of
talking when trying to play audio generated from flite.

## Expected Behavior

The audio should play and not generate an error

## Actual Behavior

The audio is not

[2021-01-13 14:34] #308 closed, assigned to aaronchantrill

[2021-01-21 19:22] aaronchantrill opened #310 "Mozilla Deepspeech PyPi module is not available for x86"
## Description

The Mozilla Deepspeech module is currently included with the base install of Naomi. Any modules that are included with Naomi should include all the python modules and apt packages required to run.  Because of this, part of the naomi-setup.sh process involves using pip to download the deepspeech module from pypi. Unfortunately, the deepspeech module is only available on 64 bit x86 s

[2021-01-21 19:28] AustinCasteel commented on #310
Sort of like our [CMUSphinx_standard_language_models](https://github.com/NaomiProject/CMUSphinx_standard_language_models) we could have a repo that just holds all of the various builds for Naomi so if your system needs it then it can git it.

[2021-01-23 02:44] aaronchantrill commented on #310
Thanks for looking at this, @AustinCasteel. That is the example I was thinking of originally also, but deepspeech is really fussy to build and requires just the right version of Bazel and keeping that up to date would probably require more effort than I would want to have to deal with, especially since every version of the deepspeech module appears to be built for each minor version of python.

Is

[2021-01-23 16:54] aaronchantrill opened #311 "play_fp() got unexpected keyword argument 'chunksize'"
## Description

When using the --repopulate option with Naomi, Naomi will play a beep noise to test if the speakers are working. After pull request #306, the play_fp function is no longer expecting the chunksize and add_padding parameters, which is causing the error message above.

## Expected Behavior

Naomi should play the beep sound so the user can tell if the audio output is working.

## Actua

[2021-01-23 17:35] #311 closed, assigned to aaronchantrill

[2021-01-24 14:53] aaronchantrill commented on #310
It looks like the reason Mozilla Deepspeech is unavailable for x86 computers is because Tensorflow, which it is written in, is unavailable for x86 computers. So I think the best course of action right now is to move the Deepspeech plugin to the Naomi Plugin Exchange and allowing people to install it if they need it.

[2021-01-28 12:51] omerasif57 opened #314 "Unable to Install via `naomi-setup.sh`"
## Description

Using Command available on website:
`. <( wget -O - https://installers.projectnaomi.com/naomi-setup.sh )`
I tried to install. It went through fine for commands: ( I chose to install in manual steps )

`sudo apt install git`
`sudo apt install update`
`sudo apt install upgrade`

And at a installer shell script command (I forgot the whole command), terminal got terminated. and now whe

[2021-01-28 14:23] aaronchantrill commented on #314
@omerasif57 thank you for reporting this issue. It might take a couple of days for us to track down the issue and solve it. Is your Ubuntu system 64bit? If so, I would bypass the problem by using git to clone the naomi-dev branch (the main branch right now) and then run the naomi-setup.sh script from there.
[code]
If your system is a 32 bit system, there is a known issue because deepspeech is curr

[2021-01-28 14:43] omerasif57 commented on #314
I have 64-bit system. In fact, I tried to run `/Naomi/naomi-setup.sh` manually in a python3 _virtual_ environment with requirements. (`pip install -r /Naomi/python-requirements.txt`)

`Naomi/naomi-setup.sh` downloaded python 2.7.x in `.naomi/local` and broke during setup. I thought, project required 2.7.x for installation. is it correct?

Anyways, for now I am pending installation for the weekend.

[2021-01-28 15:38] aaronchantrill commented on #314
The latest version of Naomi requires Python 3.5 or above. Only the "stable" version still requires python 2.7. It is really old (December 2018), and nobody should use it. Hopefully we can put out a new release soon. Always choose "milestone" or "nightly".

The naomi-setup.sh automatically creates a python virtual environment for Naomi, so you shouldn't have to do that.

I kind of remember having t

[2021-01-30 03:27] aaronchantrill opened #317 "Getting Naomi to start automatically"
## Detailed Description

I'd like to be able to have Naomi start automatically when the computer boots up rather than having to connect to a command line and manually start Naomi.

## Context

Having Naomi start automatically would be convenient in some cases.

## Possible Implementation

Ideally the Naomi service would be started by a systemd script. Unfortunately, there is currently no way to at

[2021-01-30 18:43] aaronchantrill opened #318 "Ability to uninstall or clean-up Naomi from the installer"
## Detailed Description

This weekend my download of the pocketsphinx-python repository broke. The installer continued on happily, announcing that Naomi had been installed, but after populating the profile I got an error that the pocketsphinx module had not been installed. When I tried reinstalling, it failed again because the pocketsphinx-python directory already existed under ~/.config/naomi/sou

[2021-01-30 19:28] AustinCasteel commented on #318
I will start working on this.

[2021-01-30 19:33] AustinCasteel commented on #314
@omerasif57 I have bumped Naomi so now we have a stable version 3.0, milestone version 3.1.M0, etc. So this should no longer be an issue. I apologize for the inconvenience. If there are any other questions, comments, or concerns please reach out to us here on github or on our discord and we would be more than happy to assist.

[2021-01-30 21:22] omerasif57 commented on #314
I just tried this

`. <( wget -O - https://installers.projectnaomi.com/naomi-setup.sh ) |& tee ~/naomi-setup.log`

**Result:**

As per my knowledge, `python-pip` links to python2.7.x pip module.
I have pip3 available in the system.
I have python2.7.x as well but pip (module in python2.7.x) is not installed.

I will now try installing from `git clone <source>` and from there using `shell script` of

[2021-01-31 19:10] aaronchantrill commented on #314
Sorry, I wasn't looking at my email last night and missed it. It looks like the python-pip requirement comes from phonetisaurus. I did some work on that a while back to try and make Phonetisaurus compatible with Python3, so I'm not sure if it's still required or not. What distro are you installing on? Anything Debian based should still have a python-pip package.

If you still get this error, try d

[2021-01-31 20:57] aaronchantrill commented on #314
I will download Ubuntu 20.04 and try installing on it tomorrow. My internet access has been too unreliable this weekend.

[2021-02-01 16:20] aaronchantrill commented on #314
I installed Ubuntu 20.04 on a virtual machine this morning and got the same error about apt being unable to locate the python-pip package. As near as I could tell, they renamed the python-php package to python-pip-whl. Python 2.7 was not installed when I set up the system, but phonetisaurus ran fine without it, so it seems like the Python2 requirements have been removed.

I will remove the  "pytho

[2021-02-01 16:28] omerasif57 commented on #314
sounds great. Thanks for your help. looking forward to resolution.

[2021-02-02 00:27] #314 closed, assigned to nobody

[2021-02-02 21:14] gkiely opened #323 "Searching text no longer remains highlighted"
When I search for text it no longer stays highlighted as expected.

## Expected Behavior
Text should stay highlighted as expected.

## Actual Behavior
Text does not stay highlighted as expected

## Possible Fix
N/A

## Steps to Reproduce
1. Install Naomi
2. Create a .js file with some text
3. Search for that text
4. Text does not stay highlighted

## Context
Searching for a function

## Your Envir

[2021-02-02 21:20] gkiely commented on #323
Never mind, was related to typescript package.

[2021-02-02 21:20] #323 closed, assigned to nobody

[2021-02-02 21:34] AustinCasteel commented on #323
@gkiely To be honest I am trying to figure out what you are talking about exactly. The only thing I can think of that would remotely have any connection would have to do with the website. But even so, the way the website is setup this still does not make sense. Even with it being an issue you solved, can you post the video again and explain in more detail so I can at least understand what the issu

[2021-02-05 00:38] aaronchantrill commented on #318
The installer works, but in addition to the --uninstall flag on the command line, I'd like to see the option to delete the ~/.config/naomi directory directly from within the installer if it is detected, rather than just a message asking you to run `./naomi-setup.sh --uninstall`.

Part of the reason for this is the install one-liner. If you use the one-liner to install Naomi, the naomi-setup.py pro

[2021-02-05 01:40] AustinCasteel commented on #318
I can retool the uninstall so that it can be called with the flag or if the script finds configs it can explain and ask you if you want to uninstall or not instead of kicking you to run the flag yourself.

I implemented the Skip version to be able to test the install scripting without overwriting any changes I have made. This isnt documented because it is only a development option and would break

[2021-02-05 02:08] aaronchantrill commented on #318
I agree, it's a matter of expectations. I have had the experience of hitting S accidentally when installing from the one-liner. That's why it makes sense to me to offer it as a separate option only if the directory exists. People installing from the oneliner would never see the question, and someone who selects to keep the existing directory would not get to choose an edition and would not get aut

[2021-02-05 02:27] aaronchantrill commented on #318
[If ~/.config/naomi is detected]

It appears that you have installed Naomi before. If there were issues with your previous install, we recommend clearing Naomi's configuration. This includes the configuration profile, compiled dependencies, recordings, ai models, plugins installed from the Naomi Plugin Exchange, and anything that makes your Naomi unique. Would you like to clear Naomi's configurati

[2021-02-05 13:00] aaronchantrill commented on #310
@AustinCasteel fixed this issue by moving the deepspeech plugin out of core and into the Naomi Plugin Exchange with pull request [320](https://github.com/NaomiProject/Naomi/pull/320)

[2021-02-05 13:00] #310 closed, assigned to aaronchantrill

[2021-02-05 15:28] aaronchantrill commented on #67
In the audio device setup, we start by choosing an output device. Then Naomi plays a tone to the device and asks if we can hear it. In my last few setups, both on Raspberry Pi and VirtualBox, I have had to adjust the output_chunksize parameter to at least 2048 to avoid buffer underrun errors. I'm going to change that to the default, and also the ability for the user to modify output_chunksize, out

[2021-02-08 03:18] aaronchantrill opened #325 "Support Mycroft Skills"
## Detailed Description

Mycroft skills have a very similar structure to Naomi, so we should be able to support Mycroft's skills. Making it easy for people to adapt skills may help drive adoption. There are some really nice features that we have not yet implemented, like being able to query matches using a method, using a decorator for handlers and having translations in different files.

## Conte

[2021-02-14 19:28] aaronchantrill commented on #294
I'm trying to come up with names for the new levels of STT engines (were PASSIVE, ACTIVE and SPECIAL)

Wakeword - Just checking to see if the wakeword exists in the utterance. Needs to be fast and accurate but uses a very small dictionary. Good choices would be Pocketsphinx-kws or Precise.

General - Using a language model with templates from all intents to figure out which intent to activate. Doe

[2021-02-17 20:14] aaronchantrill opened #326 "Simplify the mic initialization"
## Detailed Description

Right now, the initialization of the mic object uses the following initialization:
def __init__(
        self,
        input_device,
        output_device,
        active_stt_reply,
        active_stt_response,
        passive_stt_engine,
        active_stt_engine,
        special_stt_slug,
        plugins,
        tts_engine,
        vad_plugin,
        keyword=['NAOMI'],

[2021-02-17 20:20] aaronchantrill commented on #326
I'm interested if anyone has thoughts about what parameters make sense to be passing into mic vs what can be read from profile. Are there scenarios that I'm not thinking of?

[2021-02-17 20:54] AustinCasteel commented on #318
Fixed with PR https://github.com/NaomiProject/Naomi/pull/324

[2021-02-17 20:54] #318 closed, assigned to AustinCasteel

[2021-02-26 13:00] #254 closed, assigned to nobody

[2021-02-26 13:00] #256 closed, assigned to nobody

[2021-02-26 13:00] #257 closed, assigned to nobody

[2021-03-17 18:13] aaronchantrill commented on #268
I'm working on updating the pocketsphinx plugins to use the new methods available through the bomboucher repository (which is the one we are using by default these days). Every time I create a new plugin related to pocketsphinx, though, I keep having to import .sphinxvocab, which imports .g2p, which imports .phonemeconversion, meaning that if we ever needed to update anything in any of those (swit

[2021-04-01 01:13] aaronchantrill opened #332 "Export and import training data"
## Detailed Description

I'd like an automated way of importing and exporting the audiolog speech to text training data. I've lost too many databases after too much work because I reformatted a Pi that I had a lot of curated transcription data on.

## Context

I'll use it to keep archives of audio data for training.

[2021-04-04 16:23] aaronchantrill opened #334 "Standard handler for Numbers"
## Detailed Description

We would like to provide a special keyword for number, as opposed to the plugin-author-defined keywords like {ColorKeyword} or {DayKeyword} because recognizing and parsing a number is both more complex and extremely common. I propose either using square brackets ("[NUMBER]") or colons ("{:NUMBER:}") to distinguish system keywords from plugin keywords. Eventually I would li

[2021-04-19 01:40] #332 closed, assigned to nobody

[2021-05-15 23:13] aaronchantrill opened #335 "Comma in Keyword List"
## Description

I recently started letting my Naomi respond to either 'Magicvoice' or 'Computer'. I was able to add the other name manually, but then when I ran Naomi with the "--repopulate" flag, I got an error about an invalid character. Turns out that it converted the two names to a comma separated list when presenting them, but they are also being returned as a string literal instead of being

[2021-06-02 14:50] #335 closed, assigned to nobody

[2021-08-06 14:59] aaronchantrill opened #339 "Naomi start with boot"
## Detailed Description

Instead of having to start Naomi manually, I would like it to automatically start when the host boots up.

## Context

It would allow me to simply plug Naomi in and start using it, rather than having to establish an ssh session, start screen, and then start Naomi. I don't always have another computer available.

## Possible Implementation

It should be possible to implemen

[2021-08-06 16:27] aaronchantrill opened #340 "Naomi does not listen while thinking"
## Detailed Description

Naomi's microphone is not active while Naomi is thinking, which can lead to Naomi missing commands or parts of commands. This is especially annoying if the Naomi is processing audio that turns out not to be a command while you are trying to get it to do something. I find that figuring out when I can start speaking to Naomi requires visual feedback.

## Context

Currently,

[2021-08-07 00:16] aaronchantrill commented on #339
Duplicate of 317

[2021-08-07 00:16] #339 closed, assigned to nobody

[2021-08-18 12:50] aaronchantrill opened #343 "Naomi should use default when a setting is not active, not an empty string"
## Description

When the "active" property of a setting is False (usually because the setting is only needed in certain situations, and previous configuration choices have made the setting unnecessary), Naomi currently writes an empty string ("") to the setting in order to mark the setting as "configured" so that the setting is not flagged as missing the next time the plugin is loaded. Unfortunate

[2021-08-19 12:04] aaronchantrill opened #345 "--quiet flag for Naomi"
## Detailed Description

Naomi should accept a "quiet" flag which would prevent Naomi from stopping and asking for assistance. This would prevent Naomi from asking if the user wants to force an update if the autoupdate fails and prevent Naomi from asking for any settings information for new or updated settings.

## Context

This change will be especially important when we get Naomi running as a se

[2021-08-19 15:48] #264 closed, assigned to nobody

[2021-08-19 15:48] #271 closed, assigned to nobody

[2021-08-19 15:48] #343 closed, assigned to nobody

[2021-08-20 19:55] aaronchantrill opened #346 "Switch to pypi wrapper for phonetisaurus"
## Detailed Description

Currently, we are using a clunky method for running phonetisaurus which involves compiling the executable and then using subprocess to access it. Phonetisaurus has been added to PyPi with a python wrapper thanks to what appears to be the efforts of Synesthesiam and the Rhasspy project. This makes it much easier to both install and use.

## Context

This will simplify the c

[2021-08-23 14:12] aaronchantrill commented on #243
This isn't a good idea. When I came up with the idea, I had just had some pretty good success writing an intent parser based on edit distances, so I thought "what if we just match minimum edit distances between perceived phonemes and target phrases?" Unfortunately, speech is way too varied for this to be done in a practical way. In reality, what I really want to do is improve the language modeling

[2021-08-23 14:12] #243 closed, assigned to nobody

[2021-08-23 18:01] aaronchantrill commented on #294
After a lot of reading and soul searching, I have come to realize that what we really need to do is get rid of the special mode where we can (I think Frotz is still a good use of a special mode. It would be nice to improve Frotz to have a little more context awareness. Music mode is just confusing) and work on improving the language model.

Jasper was basically a keyword spotter. It would wait unt

[2021-08-23 18:01] #294 closed, assigned to aaronchantrill

[2021-08-30 12:30] aaronchantrill commented on #267
I've been working with [Speaker-Verification-Toolkit](https://pypi.org/project/speaker-verification-toolkit/) and have a test project at [python_speaker_verification_test](https://github.com/aaronchantrill/python_speaker_verification_toolkit_test). This package is easy to install on x86_64 systems (pip install speaker-verification-toolkit) but a pain on ARM (Raspberry Pi). To install it on ARM, yo

[2021-08-30 13:10] aaronchantrill opened #347 "Remove all the non-functioning plugins from the initial setup"
## Description

We still have plugins, especially in STT and TTS, that have not been tested for a while and might not work. We also have plugins that require a great deal of extra configuration, like Kaldi which currently requires that the user set up a Kaldi server (the intention was that the user would set it up on a separate machine) and connect to it using GStreamer which is a pain to set up.

[2021-09-18 15:43] aaronchantrill opened #350 "List NotificationClient plugins as they are enabled"
## Detailed Description

Currently, I have no way of knowing if a specific notification client has actually been loaded without using --debug mode.

## Context

This is especially important when developing NotificationClient plugins. You need to know that the plugin was recognized as the correct type and actually loaded into the notifier engine, not just if it was skipped for some reason.

[2021-09-18 19:11] aaronchantrill opened #353 "External locale files"
## Detailed Description

Right now, the only way to provide a new locale for an intent is to edit the plugin directly. I would like it to be possible for someone to provide a new locale for an existing plugin without having to edit the plugin, then make it available on NPE for other users to download. This should be straightforward enough that someone who is bilingual would be able to create a new

[2021-09-20 02:14] #350 closed, assigned to aaronchantrill

[2021-09-20 02:50] aaronchantrill commented on #334
I've been working on this somewhat at [Numbers](https://github.com/aaronchantrill/Numbers/blob/main/Numbers.py).

The following are basic number words:
        'ZERO',
        'ONE',
	'TWO',
	'THREE',
	'FOUR',
	'FIVE',
	'SIX',
	'SEVEN',
	'EIGHT',
	'NINE',
	'TEN',
	'ELEVEN',
	'TWELVE',
	'THIRTEEN',
	'FOURTEEN',
	'FIFTEEN',
	'SIXTEEN',
	'SEVENTEEN',
	'EIGHTEEN',
	'NINETEEN',
	'TWENTY',
	'THIRTY',
	'

[2021-09-20 02:52] #306 closed, assigned to aaronchantrill

[2021-09-20 02:56] aaronchantrill commented on #268
I created a plugin, "Pocketsphinx_KWS", which has this functionality. I was going to also write a STTTrainer plugin to help determine the best threshold for each keyword, but discovered that simply setting the threshold to max (80) always seems to work best.

[2021-09-20 02:56] #268 closed, assigned to aaronchantrill

[2021-09-20 03:00] aaronchantrill commented on #215
This is the "confirm" part of "expect and confirm" which I am currently working on.

[2021-09-20 03:02] aaronchantrill commented on #241
This really is more of a language model coupled with expectations issue. It was an interesting idea, but my thinking on this has evolved.

[2021-09-20 03:02] #241 closed, assigned to aaronchantrill

[2021-09-24 20:14] aaronchantrill commented on #190
I think @AustinCasteel fixed this. I just tested on a Buster system configured with the default locale set to en_US ISO-8859-1 and didn't get any complaints. Can we close this?

[2021-09-24 23:53] aaronchantrill opened #354 "Add support for Coqui.ai"
## Detailed Description

Coqui.ai is the descendant of the Mozilla Deepspeech project and still shares a lot of code.

## Context

I'm personally interested in comparing as many speech recognition engines as possible.

## Possible Implementation

I would start with the "Deep Speech" plugin (https://github.com/AustinCasteel/deepspeech-stt.git) which allows Naomi to use Mozilla Deepspeech. Updating

[2021-09-25 01:26] aaronchantrill commented on #43
I think this is kind of too big a concept for a single request. At this point, what we need is to start using tools like gensim to convert phrases into vectors, which should produce better accuracy than our current edit distance approach. We also could use natural language processing to make Naomi more aware of its environment and so it can start building a theory of mind about the people interact

[2021-11-14 19:12] aaronchantrill opened #355 "Expect and confirm"
## Detailed Description

Right now, if a user needs to gather information from the user, they have to use "active_listen()" to gather a response and then decide how to use it. This means that if Naomi asks you a question and is waiting for a response, it will interpret anything you say as an attempt to respond, even if you no longer remember the question. For instance, it is very difficult to brea

[2021-11-15 17:43] aaronchantrill commented on #317
I was finally able to get Naomi to start automatically at system boot by creating a NaomiRebootScript.sh script:
[code]
then running
`$ crontab -e`
and adding the following line:
`@reboot /usr/bin/screen -dm bash -c "/home/pi/Naomi/NaomiRebootScript.sh"`

If I want to see what Naomi is doing, then I can ssh into the raspberry pi and use `screen -r` to restore the screen Naomi is currently running

[2021-11-25 16:37] #355 closed, assigned to nobody

[2021-11-26 02:21] aaronchantrill opened #357 "Naomi TTI needs intent vectors"
## Detailed Description

I ran into some issues with the "Naomi TTI" plugin yesterday. Since Naomi started out as basically a keyword recognizer, I wanted to honor that tradition in the Naomi TTI plugin. So the idea was to let Naomi decide how important individual words were to different intents, instead of having plugin authors "own" particular words. If a word appeared in 100% of the templates f

[2021-12-10 15:23] aaronchantrill commented on #340
I have implemented buffer clearing when using expect() or confirm() by ending the listening and processing anything in the buffer just before Naomi begins asking a question. This is done by setting an arg in profile which is called "resetmic". This is picked up by the VAD plugin which will immediately stop listening and return any captured audio before Naomi asks the question.

A better approach w

[2021-12-13 02:01] aaronchantrill commented on #357
I'm searching for pre-trained vector models. It doesn't seem like they should need to be domain specific, so it seems like finding pre-trained ones would be a big time saver.

In the meantime, I did finally find a source lists of word frequencies: https://www.lexipedia.org/
I have no idea what their license is, but since I would be having the software download a list directly from them, I think it

[2021-12-17 23:22] aaronchantrill opened #358 "Need a pypi installer"
## Detailed Description

For those in the Python community, being able to install a piece of software with a simple "pip install <packagename>" makes installation much more friendly and less threatening.

## Context

I'd like to encourage users to try out this software. I feel like being findable on PyPi for users searching for virtual assistant would be helpful.

## Possible Implementation

I hav

[2022-01-18 00:03] aaronchantrill opened #360 "Move Naomi.sh to .config directory"
## Description

We currently add a call to Naomi.sh to the end of ~/.bashrc to initialize the virtualenvwrapper environment so the user just has to type `workon Naomi` to get into the environment. Naomi.sh also creates a function in the user's bash shell which allows them to run Naomi by typing `Naomi` at the command prompt, rather than having to type `~/Naomi/Naomi.py`.

This is the only user fil

[2022-01-18 19:35] AustinCasteel commented on #360
Seems reasonable, will get it done momentarily

[2022-01-25 04:20] AustinCasteel commented on #360
Fixed with PR #361

[2022-01-25 04:20] #360 closed, assigned to AustinCasteel

[2022-01-26 15:45] aaronchantrill commented on #215
Completed with pull request 356 [Expect and Confirm](https://github.com/NaomiProject/Naomi/pull/356)

[2022-01-26 15:45] #215 closed, assigned to aaronchantrill

[2022-01-31 04:55] aaronchantrill commented on #212
After a lot of playing with ec, I have discovered that the pulseaudio module-echo-cancel is much easier to work with and does a good job of providing echo cancellation with default parameters. To get this to work, Naomi needs to be set up to use the pyaudio audio engine with the "pulse" device for both the input and output device.

The module can be loaded in the Naomi function created by the Noam

[2022-03-31 17:55] aaronchantrill opened #362 "Support for SpeechBrain"
## Detailed Description

Support for SpeechBrain https://speechbrain.readthedocs.io/en/latest/index.html which appears to be another general purpose speech toolkit. I'm not sure if it is supported on ARM processors.

## Context

The more Speech to Text processing systems the better. This system can apparently also do Speaker Identification and Diarization.

[2022-06-21 15:43] aaronchantrill opened #363 "Use JSGF for writing intents"
## Detailed Description

Like most Voice Assistants, Naomi's intents serve multiple purposes. First, they are used by the speech to text system to prepare a dictionary of words to recognize. Next they are converted into a language model to help the speech to text system guess what it is most likely hearing given the likelihoods of different arrangements of words. Finally, it is used by the text to

[2022-08-01 21:56] aaronchantrill commented on #212
This is basically solved. Naomi speaks synchronously by default, which prevents it from hearing anything when speaking. By setting the listen_while_speaking setting to "true", Naomi can listen while speaking, which allows the user to interrupt.

There are several solutions to keeping Naomi from hearing what it is saying. The best is to use a speaker/microphone with integrated hardware echo cancell

[2022-10-10 18:05] aaronchantrill opened #365 "Naomi's output audio gets clipped"
## Description

Ever since switching my Pi4 to running 64bit Bullseye Raspberry Pi OS, the audio output gets clipped at the end. I had added a "pause" setting a while back to help with this by providing a fixed length pause after speaking, but now even with a 1.5 second pause I'm still experiencing serious clipping issues.

## Expected Behavior

Any audio that is written to the device buffer shoul

[2022-10-15 17:16] aaronchantrill commented on #280
I am working on this, and the reliability of VOSK is pretty amazing. It is also pretty lightweight and easy to install. I am currently trying to adapt the Language Model using the instructions at https://alphacephei.com/vosk/lm. From what I'm understanding right now, I need to convert all the speechhandler intent templates into a JSGF file, then use that to generate an ARPA statistical model, then

[2022-10-27 22:25] #365 closed, assigned to nobody

[2022-11-06 13:59] aaronchantrill commented on #334
I'm planning to do slot types now. If you want a numeric value, you would create a template like
"Count from {from:number} to {to:number}"
When we pass the templates to the intent parser, we will replace the {from:number} with just <number>, so the intent parser will see the template "Count from <number> to <number>".

Then there will be a pre-parser that will look for any groups of number words u